﻿@model CodeStatusDTO
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>激活码查询</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="/codes" class="ajax">激活码生成记录</a>
            </li>
            <li class="active">
                <strong>激活码查询</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>激活码</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()


                        <div class="form-group">
                            <label class="col-sm-2 control-label">激活码</label>
                            <div class="col-sm-10 col-md-3">

                                @Html.TextBoxFor(m => m.data_code_text, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_code_text, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                            <div class="col-sm-10 col-md-3">
                                <a href="javascript:datacodestatus.edit()" class=" btn btn-primary"><i class="fa fa-search"></i>查询</a>
                            </div>
                            </div>


                        <div class="hr-line-dashed"></div>
                        @*<div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">查询</button>
                                </div>
                            </div>*@
                        @*<div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                
                                <button class="btn btn-primary" type="submit">查询</button>
                            </div>
                        </div>*@

                       
                        <div id="gridcodestatus"></div>
                     
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datacodesrecords.initForm();
    });
</script>