﻿@model CodeStatusDTO

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @*<div class="col-lg-12">
            <div class="ibox float-e-margins">*@
                @*<div class="ibox-title">
                    <h5>激活码</h5>
                </div>*@
                @*<div class="ibox-content">*@
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {

                        <div class="faq-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <h4><a class="ajax">激活码</a></h4>
                                </div>

                                <div class="col-md-2">
                                    <h4><a class="ajax">生成时间</a></h4>
                                </div>

                                <div class="col-md-2">
                                    <h4><a class="ajax">状态</a></h4>
                                </div>

                                <div class="col-md-2">
                                    <h4><a class="ajax">所带服务</a></h4>
                                </div>

                                <div class="col-md-2">
                                    <h4><a class="ajax">激活时间</a></h4>
                                </div>

                                <div class="col-md-2">
                                    <h4><a class="ajax">激活人</a></h4>
                                </div>
                       </div>

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="tag-list">
                                        <span class="tag-item">@Model.data_code_text</span>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="tag-list">
                                        <span class="tag-item">@Model.datecreated</span>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="tag-list">
                                        <span class="tag-item">@Model.data_code_status_text</span>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="tag-list">
                                        <span class="tag-item">@Model.data_service_name</span>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="tag-list">
                                        <span class="tag-item">@Model.dateupdated</span>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="tag-list">
                                        <span class="tag-item">@Model.data_member_actived_text</span>
                                    </div>
                                </div>
     
                            </div>
                        </div>

                            }
                        @*</div>*@
            @*</div>
        </div>*@
    </div>
</div>
                        

<script type="text/javascript">
    $(document).ready(function () {
        datacodestatus.initForm();
    });
</script>
