﻿@model CodeStatusDTO

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @*<div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>激活码</h5>
                </div>
                <div class="ibox-content">*@

        <div class="col-md-2">
        </div>
                        <div class="form-group">
                            <div class="col-sm-3"><h4><a class="ajax">您所查找的激活码不存在</a></h4></div>
                        </div>

                </div>
            </div>
        @*</div>
    </div>
</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        datacodestatus.initForm();
    });
</script>