﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>健身建议</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>

            <li class="active">
                <strong>健身建议</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <a href="/member/selectmember?linktype=3" class="ajax btn btn-primary"><i class="fa fa-plus"></i> 新增</a>
            <a href="javascript:datamemberadvice.edit()" class=" btn btn-primary"><i class="fa fa-reply"></i>编辑</a>
            <a href="javascript:dataindexdata.deleteRow()" class=" btn btn-primary"><i class="fa fa-trash"></i>删除</a>

        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="ibox-content m-b-sm border-bottom">
            <div class="btn-group">
                <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> New</a>
            </div>
        </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div id="grdadvice"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datamemberadvice.init();
    });
</script>


