﻿@model DataMemberAdviceDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>健身建议</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/machine" class="ajax">健身建议</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>课程</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "mainContent"}, new {@class = "form-horizontal"}))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_member_advice_id)
                        @Html.HiddenFor(m => m.data_member_id)
                        @Html.HiddenFor(m=>m.taskId);

                        var TypeList = ((IEnumerable<SelectListItem>)ViewBag.KnowledgeTypes).ToList();
                        TypeList.Insert(0, new SelectListItem { Text = "", Value = "" });
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">知识类型</label>
                            <div class="col-sm-2 col-md-2">
                                @Html.DropDownList("knowledgeType", TypeList)
                            </div>
                            <label class="col-sm-1 control-label">关键字</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.TextBox("knowledgeKeyword", "") <a href="javascript:void(0)" style="margin-left: 10px" id="filter_btn">过滤</a>
                            </div>
                            
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择模板</label>
                            <div class="col-sm-10 col-md-8">
                                @Html.DropDownList("data_templates", (IEnumerable<SelectListItem>) ViewBag.Knowledges)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否完成</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.CheckBoxFor(m => m.data_member_advice_isfinished, new {@class = "form-"})

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">健身建议</label>
                            <div class="col-sm-10 col-md-8">
                                @Html.TextAreaFor(m => m.data_member_advice_summary, new {@class = "form-control", @column = 40})
                                @Html.ValidationMessageFor(m => m.data_member_advice_summary, null, new {@class = "help-block m-b-none text-danger"})
                            </div>
                        </div>

                       if (Model.taskId != 0)
                         {
                          
                             <div class="form-group">
                                    <label class="col-sm-2 control-label">完成状态</label>
                                    <div class="col-sm-10 col-md-8">
                                        @Html.DropDownListFor(m => m.IsFinished, (IEnumerable<SelectListItem>)ViewBag.TaskStatus)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">回复</label>
                                    <div class="col-sm-10 col-md-8">
                                        @Html.TextAreaFor(m => m.TaskComments, new { @class = "form-control", @cols = 20,@rows=5 })
                                        <span class="help-block m-b-none">填写任务的完成情况，将会同步到我的任务中</span>
                                    </div>
                                </div>
                            
                              
                         }

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // dataservice.initForm();
        //健身建议，多选
        var dataTemplates = $("#data_templates").kendoMultiSelect({ change: ontemplatechange }).data("kendoMultiSelect");
        //初始化什么都不选择。
        dataTemplates.value("");

        $("#data_member_advice_summary").kendoEditor(
        {
            resizable: {
                content: true,
                toolbar: true
            }
        }
         );

        function ontemplatechange() {
            //  alert(dataTemplates.value());
            var Ids = dataTemplates.value();
            $.ajax({
                url: "/Member/GetKnowledgeComments?Ids=" + Ids,
                success: function (data) {
                    var editor = $("#data_member_advice_summary").data("kendoEditor");
                    editor.value(data);
                }
            });
        }

        $("#knowledgeType").kendoComboBox();
        $("#filter_btn").click(filterKnowledge);
        function filterKnowledge() {
            var type = $("#knowledgeType").val();
            var keyword = $("#knowledgeKeyword").val();

            $.ajax({
                url: "/DataKnowledge/GetKnowledgeListByCondi?data_knowledge_type=" + type + "&data_knowledge_keyword=" + keyword,
                success: function (data) {
                    //console.log(data);
                    var dataSource = new kendo.data.DataSource({
                        data: data
                    });
                    dataTemplates.setDataSource(dataSource);
                    dataTemplates.value("");
                }
            });
        }
    });
</script>

