﻿@model dynamic


@foreach (dynamic module in Model)
{
    <li>
        <a href="@module.ModuleUrl">
            <i class="@module.ModuleIcon"></i><span class="nav-label">@module.ModuleName</span>

            @if (module.Children.Count > 0)
            {
                <span class="fa arrow"></span>
            }

        </a>

        @if (module.Children.Count > 0)
        {
            <ul class="nav nav-second-level">

                @foreach (var child in module.Children)
                {
                    <li><a href="@child.ModuleUrl">@child.ModuleName</a></li>
                }


            </ul>
        }
    </li>
}



@*<li>
        <a href="/demo"><i class="fa fa-flask"></i> <span class="nav-label">Demo</span></a>
    </li>*@


