﻿@model DepartDTOModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>组织结构</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="/depart" class="ajax">组织结构</a>
            </li>
            <li class="active">
                <strong>部门编辑</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>课程</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.Id)

                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.DepartName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DepartName, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.Reamrk, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Reamrk, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">部门领导</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.HiddenFor(m => m.leaders)
                                @Html.DropDownList("leadersvalues", (IEnumerable<SelectListItem>)ViewBag.Users)
                                @Html.ValidationMessageFor(m => m.leaders, string.Empty, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">健康秘书</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.HiddenFor(m => m.members)
                                @Html.DropDownList("membersvalues", (IEnumerable<SelectListItem>)ViewBag.Users)
                                @Html.ValidationMessageFor(m => m.members, string.Empty, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //   dataservice.initForm();

        $("a.ajax").ajaxLink();
        $.validator.unobtrusive.parse("form");


        //生成两个多选。

        var leaders = $("#leadersvalues").kendoMultiSelect(
           {
               change: onChangeleaders
           }).data("kendoMultiSelect");

        var members = $("#membersvalues").kendoMultiSelect(
         {
             change: onChangemembers
         }).data("kendoMultiSelect");



        function onChangeleaders() {
            $("#leaders").val(leaders.value());
        }

        function onChangemembers() {
            $("#members").val(members.value());
        }


        if ($("#leaders").val() == "") {
            leaders.value("");
        }
        else {

            leaders.value($("#leaders").val().split(","));
        }


       // alert($("#members").val());
        if ($("#members").val() == "") {
            members.value("");
        }
        else {
            members.value($("#members").val().split(","));
        }


    });
</script>
