﻿@model TaskDTO
<div class="ibox-content">
    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.data_code_services_tasks_id)

     
        <div class="form-group">
            <label class="col-sm-2 control-label">任务时间</label>
            <div class="col-sm-10 col-md-3">
                <p class="form-control-static">@Model.data_code_service_date</p>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">任务状态</label>
            <div class="col-sm-10 col-md-3">
                @Html.DropDownListFor(m => m.data_code_services_tasks_status, (IEnumerable<SelectListItem>)ViewBag.Status)
                @Html.ValidationMessageFor(m => m.data_code_services_tasks_status, null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">回复</label>
            <div class="col-sm-10 col-md-8">
                @Html.TextAreaFor(m => m.data_code_service_remark, new { @class = "form-control", @column = 40 })
                @Html.ValidationMessageFor(m => m.data_code_service_remark, null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>

        <div class="hr-line-dashed"></div>
    <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-8">
                <button class="btn btn-primary" type="submit">回复</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //comobox
        $("#data_code_services_tasks_status").kendoComboBox();

        // create Editor from textarea HTML element with default set of tools
        $("#data_code_service_remark").kendoEditor({
            resizable: {
                content: true,
                toolbar: true
            }
        });
    });


    function close(result) {

       // alert(result);
        datacodeservicetasks.updatetask(result);
    }


</script>
