﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>留言管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>

            <li class="active">
                <strong>留言管理</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <a href="javascript:datamessage.reply()" class=" btn btn-primary"><i class="fa fa-comments"></i> 回复</a>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="ibox-content m-b-sm border-bottom">
            <div class="btn-group">
                <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> New</a>
            </div>
        </div>*@
    <div class="row">
      
            <div id="gridmessage"></div>
            <div id="messagewindow" >
            </div>
        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datamessage.init();

      //  $("#window").removeClass();
    });
</script>

