﻿@model MessageDTO

<div class="ibox-content">
    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.data_message_id)

        var TypeList = ((IEnumerable<SelectListItem>)ViewBag.KnowledgeTypes).ToList();
        TypeList.Insert(0, new SelectListItem { Text = "", Value = "" });
        
        <div class="form-group">
            <label class="col-sm-2 control-label">会员</label>
            <div class="col-sm-10 col-md-3">
                <label class="form-control-static">@Model.message_member_name</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">提问时间</label>
            <div class="col-sm-10 col-md-3">
                <label class="form-control-static">@Model.message_date</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">提问内容</label>
            <div class="col-sm-10 col-md-3">
                <label class="form-control-static">@Model.message_text</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">回复完成</label>
            <div class="col-sm-10 col-md-6">
                @Html.CheckBoxFor(m => m.message_Isreply, new { @class = "" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">知识类型</label>
            <div class="col-sm-2 col-md-2">
                @Html.DropDownList("knowledgeType", TypeList, new { @style="width: 120%" })
            </div>
            <label class="col-sm-1 control-label">关键字</label>
            <div class="col-sm-4 col-md-4">
                @Html.TextBox("knowledgeKeyword", "") <a href="javascript:void(0)" style="margin-left: 10px" id="filter_btn">过滤</a>
            </div>

        </div>
            <div class="form-group">
                            <label class="col-sm-2 control-label">选择模板</label>
                            <div class="col-sm-10 col-md-8">
                                @Html.DropDownList("data_templates", (IEnumerable<SelectListItem>) ViewBag.Knowledges)
                            </div>
                        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">回复</label>
            <div class="col-sm-10 col-md-8">
                @Html.TextAreaFor(m => m.message_comments, new { @class = "form-control", @column = 40 })
                @Html.ValidationMessageFor(m => m.message_comments, null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-8">
                <button class="btn btn-primary" type="submit">回复</button>
            </div>
        </div>


    }

</div>
<script type="text/javascript">

    $(document).ready(function () {
        var dataTemplates = $("#data_templates").kendoMultiSelect({ change: ontemplatechange }).data("kendoMultiSelect");

        function ontemplatechange() {
            //  alert(dataTemplates.value());
            var Ids = dataTemplates.value();
            $.ajax({
                url: "/Member/GetKnowledgeComments?Ids=" + Ids,
                success: function (data) {
                    var editor = $("#message_comments").data("kendoEditor");
                    editor.value(data);
                }
            });
        }

        // create Editor from textarea HTML element with default set of tools
        $("#message_comments").kendoEditor({
            tools: [
               "bold",
               "italic",
               "underline",
               "strikethrough",
               "justifyLeft",
               "justifyCenter",
               "justifyRight",
               "justifyFull",
               "insertUnorderedList",
               "insertOrderedList",
               "indent",
               "outdent",
               "createLink",
               "unlink",
               "insertImage",
               "insertFile",
               "subscript",
               "superscript",
               "createTable",
               "addRowAbove",
               "addRowBelow",
               "addColumnLeft",
               "addColumnRight",
               "deleteRow",
               "deleteColumn",
               "viewHtml",
               "formatting",
               "cleanFormatting",
               "fontName",
               "fontSize"
             //  "foreColor",
             //  "backColor"
             //  "print"
            ],
            imageBrowser: {
                messages: {
                    dropFilesHere: "Drop files here"
                },
                transport: {
                    read: "/ImageBrowser/Read",
                    destroy: {
                        url: "/ImageBrowser/Destroy",
                        type: "POST"
                    },
                    create: {
                        url: "/ImageBrowser/Create",
                        type: "POST"
                    },
                    thumbnailUrl: "/ImageBrowser/Thumbnail",
                    uploadUrl: "/ImageBrowser/Upload",
                    imageUrl: "/ImageBrowser/Image?path={0}"
                }
            },
            fileBrowser: {
                messages: {
                    dropFilesHere: "Drop files here"
                },
                transport: {
                    read: "/FileBrowser/Read",
                    destroy: {
                        url: "/FileBrowser/Destroy",
                        type: "POST"
                    },
                    create: {
                        url: "/FileBrowser/Create",
                        type: "POST"
                    },
                    uploadUrl: "/FileBrowser/Upload",
                    fileUrl: "/FileBrowser/File?fileName={0}"
                }
            }
            
        });

        $("#knowledgeType").kendoComboBox();
        $("#filter_btn").click(filterKnowledge);
        function filterKnowledge() {
            var type = $("#knowledgeType").val();
            var keyword = $("#knowledgeKeyword").val();

            $.ajax({
                url: "/DataKnowledge/GetKnowledgeListByCondi?data_knowledge_type=" + type + "&data_knowledge_keyword=" + keyword,
                success: function (data) {
                    //console.log(data);
                    var dataSource = new kendo.data.DataSource({
                        data: data
                    });
                    dataTemplates.setDataSource(dataSource);
                    dataTemplates.value("");
                }
            });
        }
    });

    function close(result) {
        datamessage.updatereply(result);
    }
</script>
