﻿@model DataCoachDTO
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @*<div class="ibox-title">
                <h5>快速新建卡型</h5>
            </div>*@
        <div class="ibox-content">
            @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
            {

                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.data_anytime_friend_id)
                <div class="col-lg-8">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">姓名</label>
                        <p class="form-control-static">@Model.data_name</p>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">性别</label>
                        <p class="form-control-static">@Model.data_sex_title</p>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">年龄</label>
                        <p class="form-control-static">@Model.data_age</p>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">省份</label>
                        <p class="form-control-static">@Model.ProvinceName</p>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">城市</label>
                        <p class="form-control-static">@Model.CityName</p>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">地区</label>
                        <p class="form-control-static">@Model.AreaName</p>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">专业</label>
                        <p class="form-control-static">@Model.data_profession</p>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">联系方式</label>
                        <p class="form-control-static">@Model.data_Ip</p>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">简介</label>
                        <p class="form-control-static">@Model.data_comments</p>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-12">
                           @*// <button class="btn btn-primary" type="submit">快速保存</button>*@

                            <button class="btn btn-primary" type="button" onclick="javascript:datacoach.close();">关闭</button>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</div>
@*<script type="text/javascript">
    $(document).ready(function () {
        datacoach.initForm();
    });


</script>*@

