﻿@{
    ViewBag.Title = "全时体育产业管理咨询系统";
}

@*<div class="jumbotron">
    <h1>ASP.NET @ViewBag.Test - @ViewBag.ListCount</h1>
    <p class="lead">Subscription #@ViewBag.Test</p>
    <p class="lead">TEST entries @ViewBag.ListCount</p>
    <p><a href="@Url.Action("Add")" class="btn btn-primary btn-lg">Add TEST entry</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Add")">Add TEST entry</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@