﻿@model PrescriptionDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>个性化处方</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/prescription" class="ajax">个性化处方</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>个性化处方</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">标题</label>
                        <p class="form-control-static">@Model.data_member_prescription_title</p>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">会员</label>
                        <p class="form-control-static">@Model.data_member_name</p>                       
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">状态</label>
<p class="form-control-static">@Model.data_member_prescription_status_text</p>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" style="text-align: left">处方明细</label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.Hidden("machine_action_detail_list", (String)ViewBag.DetailList)
                            <div id="grid_detail"></div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var detail_datasource;

    $(document).ready(function () {
        detail_datasource = new kendo.data.DataSource({
            data: $.parseJSON($("#machine_action_detail_list").val()),
            change: data_prescription.dataSourceChange
        });

        data_prescription.detailForm("detail");
    });
</script>
