﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>个性化处方</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <li>
                @{
                    if ((bool)ViewBag.canAdd)
                    {
                        <a href="/member/selectmember?linktype=1" class="ajax btn btn-primary"><i class="fa fa-plus"></i>新增</a>
                    }

                    if ((bool)ViewBag.canView)
                    {
                        <a href="#" class="ajax btn btn-primary" onclick="data_prescription.view(this)"><i class="fa fa-plus"></i>查看</a>
                    }

                    if ((bool)ViewBag.canEdit)
                    {
                        <a href="#" class="ajax btn btn-primary" onclick="data_prescription.edit(this)"><i class="fa fa-plus"></i>编辑</a>
                    }

                    if ((bool)ViewBag.canDelete)
                    {
                        <a href="#" class="ajax btn btn-primary" onclick="data_prescription.deleteIt()"><i class="fa fa-plus"></i>删除</a>
                    }

                }
            </li>         
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div id="grid"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        data_prescription.init();
    });
</script>
