﻿@model PrescriptionDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>新增个性化处方</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/prescription" class="ajax">个性化处方</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>个性化处方</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_member_prescription_id)
                        @Html.HiddenFor(m => m.data_member_prescription_path)
                        @Html.Hidden("backKind", (int?)ViewBag.backKind)

                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(m => m.data_member_prescription_title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_member_prescription_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">会员</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.DisplayTextFor(m => m.data_member_name)
                                @Html.HiddenFor(m => m.data_member_id)
                                @Html.HiddenFor(m => m.data_member_name)
                            </div>

                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.DropDownListFor(m => m.data_member_prescription_status, (IEnumerable<SelectListItem>)ViewBag.Status)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align: left">处方明细</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">器械动作</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.DropDownList("data_machine_action_id", (IEnumerable<SelectListItem>)ViewBag.MachineActions, new { @id = "data_machine_action_id" })
                            </div>

                            <label class="col-sm-2 control-label">组数</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.TextBox("data_machine_action_number", 0, new { @id = "data_machine_action_number" })
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">运动时长/次数</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.TextBox("data_machine_action_times", 0, new { @id = "data_machine_action_times", @style="width: 60%"})（分钟/次）
                            </div>

                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.TextArea("data_machine_action_remark", "", new { @id = "data_machine_action_remark" })
                            </div>

                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-primary" onclick="data_prescription.add_detail()">添加明细</a>
                                @Html.Hidden("machine_action_detail_list", (String)ViewBag.DetailList)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="grid_detail"></div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @if (ViewBag.taskid != null)    
                            {
                            <div class="col-sm-2 col-sm-offset-2">                               
                                @Html.CheckBox("task_complete") 完成任务
                                @Html.Hidden("task_id", (int)ViewBag.taskid)
                            </div>
                            }
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var detail_datasource;

    $(document).ready(function () {
        detail_datasource = new kendo.data.DataSource({
            data: $.parseJSON($("#machine_action_detail_list").val()),
            change: data_prescription.dataSourceChange
        });

        data_prescription.initForm();
        data_prescription.detailForm("operate");
    });
</script>