﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>器械管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb"> 
            @*<li>*@
                @{
                    if ((bool)ViewBag.canAdd)
                    {
                        <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i>新增</a>
                    }

                    if ((bool)ViewBag.canView)
                    {
                        <a href="#" class="ajax btn btn-primary" onclick="data_machine.view(this)"><i class="fa fa-envelope"></i>查看</a>
                    }

                    if ((bool)ViewBag.canEdit)
                    {
                        <a href="#" class="ajax btn btn-primary" onclick="data_machine.edit(this)"><i class="fa fa-plus"></i>编辑</a>
                    }

                    if ((bool)ViewBag.canDelete)
                    {
                        <a href="#" class="ajax btn btn-primary" onclick="data_machine.deleteIt()"><i class="fa fa-trash"></i>删除</a>
                    }
                }
            @*</li>*@
        </ol>
</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    
    @*<div class="ibox-content m-b-sm border-bottom">
        <div class="btn-group">
            <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> New</a>
        </div>
    </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div id="grid"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        data_machine.init();
    });
</script>
