﻿@model MachineDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>器械信息维护</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/machine" class="ajax">器械管理</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>课程</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_machine_id)

                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_machine_name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_machine_name, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_machine_type_id, (IEnumerable<SelectListItem>)ViewBag.MachineTypes)
                                @Html.ValidationMessageFor(m => m.data_machine_type_id, null, new { @class = "help-block m-b-none text-danger", @id = "data_machine_type_id" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_machine_status, (IEnumerable<SelectListItem>)ViewBag.Status)
                                @Html.ValidationMessageFor(m => m.data_machine_status, null, new { @class = "help-block m-b-none text-danger", @id = "data_machine_status" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        dataservice.initForm();
    });
</script>