﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>基础任务管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li class="active">
                <strong>基础任务</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            @{
                if ((bool)ViewBag.canAdd)
                {
                    <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i>新增</a>
                }
                if ((bool)ViewBag.canEdit)
                {
                    <a href="javascript:databasetask.edit()" class=" btn btn-primary"><i class="fa fa-reply"></i>编辑</a>
                }
                if ((bool)ViewBag.canDelete)
                {
                    <a href="javascript:databasetask.deleteRow()" class=" btn btn-primary"><i class="fa fa-trash"></i>删除</a>
                }
            }
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div id="grid"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        databasetask.init();
    });
</script>
