﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>激活码生成记录</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>

            <li class="active">
                <strong>激活码记录</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> 新增</a>
            <a href="javascript:datacodesrecords.exportfile()" class=" btn btn-primary"><i class="fa fa-reply"></i>导出</a>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div id="gridcode"></div>
            <div id="window" style="margin:5px">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datacodesrecords.init();
    });
</script>

