﻿@model data_code_record

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>激活码管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="/codes" class="ajax">激活码生成记录</a>
            </li>
            <li class="active">
                <strong>生成激活码</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>激活码</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_code_record_id)

                          <div class="form-group">
                            <label class="col-sm-2 control-label">供应商</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_supplier_id, (IEnumerable<SelectListItem>)ViewBag.Supplier)
                                @Html.ValidationMessageFor(m => m.data_supplier_id, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">所带课程</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_service_id, (IEnumerable<SelectListItem>)ViewBag.Services)
                                @Html.ValidationMessageFor(m => m.data_service_id, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                     
                        <div class="form-group">
                            <label class="col-sm-2 control-label">总价</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_code_record_money)
                                @Html.ValidationMessageFor(m => m.data_code_record_money, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">数量</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_code_record_count)
                                @Html.ValidationMessageFor(m => m.data_code_record_count, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_code_record_status, (IEnumerable<SelectListItem>)ViewBag.Status)
                                @Html.ValidationMessageFor(m => m.data_code_record_status, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">秘书</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_member_service_id, (IEnumerable<SelectListItem>)ViewBag.Secretary)
                                @Html.ValidationMessageFor(m => m.data_member_service_name, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datacodesrecords.initForm();
    });
</script>
