﻿ @model dynamic
<div id="grdcodes"></div>

<br/>
<div class="alert alert-success">
    <ul class="margin-bottom-none padding-left-lg">
        <li><i class="fa fa-circle-o text-navy"></i> 起草 <i class="fa fa-circle text-navy"></i> 生效  <i class="fa fa-check text-navy"></i> 激活</li>
    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        datacodes.init(@Model.data_code_record_id);
    });
</script>


