﻿@model RegisterAsSubscriptionModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>用户管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>编辑用户</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户编辑</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {

                        @Html.HiddenFor(m=>m.User.Id)
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.User.FirstName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.User.FirstName, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.User.LastName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.User.LastName, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.User.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.User.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
       
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datauser.initForm();
    });
</script>

