﻿@model PrintModel
@{
    ViewBag.Title = "Print";
    Layout = null;
}
    
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Invoice Print</title>
    <link href="/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/Content/css/animate.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">

</head>

<body class="white-bg">
    <div class="wrapper wrapper-content p-xl">
        <div class="ibox-content p-xl">
            <div class="row">
                <div class="col-sm-6">
                   @Model.Queryhtml
                </div>
            </div>

            <div class="table-responsive m-t">
               @Html.Raw(Model.BodyHtml)
            </div><!-- /table-responsive -->

                @Html.Raw(Model.TotalHtml)
            <div class="well m-t">
                @Html.Raw(Model.CommentsHtml)
            </div>
        </div>

    </div>

    <!-- Mainly scripts -->
    <script src="/Content/js/jquery-2.1.1.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/Content/js/inspinia.js"></script>

    <script type="text/javascript">
        window.print();
    </script>

</body>

</html>


