﻿@model IndexDataDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>标准值</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>标准值</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>指标</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.data_index_data_id)


                         <div class="form-group">
        <label class="col-sm-2 control-label">基础指标</label>
        <div class="col-sm-10 col-md-3">
            @Html.DropDownListFor(m => m.data_base_index_id, (IEnumerable<SelectListItem>)ViewBag.BaseIndex)
            @Html.ValidationMessageFor(m => m.data_base_index_id, null, new { @class = "help-block m-b-none text-danger" })
        </div>
    </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">标签</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_body_label_id, (IEnumerable<SelectListItem>)ViewBag.BodyLabel)
                                @Html.ValidationMessageFor(m => m.data_body_label_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_sex_id, (IEnumerable<SelectListItem>)ViewBag.SexTitle)
                                @Html.ValidationMessageFor(m => m.data_body_label_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">年龄范围</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_age_range_id, (IEnumerable<SelectListItem>)ViewBag.AgeRange)
                                @Html.ValidationMessageFor(m => m.data_age_range_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">最小值</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_data_min, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_data_min, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">最大值</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_data_max, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_data_max, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键要素</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_data_point, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_data_point, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_data_label, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_data_label, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

                        
    <script type="text/javascript">
        $(document).ready(function () {
            dataindexdata.initForm();
        })
              
    </script>