﻿
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>会员健身档案</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>会员</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <a href="/member/selectmember?linktype=2" class="ajax btn btn-primary"><i class="fa fa-plus"></i> 新增</a>
            <a href="javascript:datamemberfile.edit()" class=" btn btn-primary"><i class="fa fa-reply"></i>编辑</a>

        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div id="grid_member_file"></div>
        </div>
    </div>
</div>

<div id="window" class="row">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datamemberfile.init(0);
    });
</script>


