﻿@model MemberFileModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>家庭化健康档案</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <style>
        @* added by adam 2015-08-13 overwrite the jq step default css style *@ 
        
        .wizard > .content {
            min-height: 600px !important;
        }

        .wzard > .content > .body input {
        }
    </style>
    <div class="row">
        <div class="ibox-content">

            @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal", Id = "form" }))
{
    <div id="wizard">
        <h1>
            基本信息
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.member_inforamtion.data_member_information_Id)
            @Html.HiddenFor(m => m.TaskId)
            @Html.Hidden("backKind", (int?)ViewBag.backKind)
        </h1>
        <div class="step-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用户名：@Html.HiddenFor(m => m.member.data_member_name)</label>
                        <div class="col-sm-10 col-md-6">
                            <p class="form-control-static">@Model.member.data_member_name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">性别：@Html.HiddenFor(m => m.member.data_member_sex)</label>
                        <div class="col-sm-10 col-md-6">
                            <p class="form-control-static">@Model.member.data_member_sex</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">出生日期：@Html.HiddenFor(m => m.member.data_member_birthday)</label>
                        <div class="col-sm-10 col-md-6">
                            <p class="form-control-static">@Model.member.data_member_birthday</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">电话：@Html.HiddenFor(m => m.member.data_member_mobile)</label>
                        <div class="col-sm-10 col-md-6">
                            <p class="form-control-static">@Model.member.data_member_mobile</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">身份证</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_identity, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">国籍</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_country, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">民族</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_ethnic, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">家属名称</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_family, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">血型</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownListFor(m => m.member_inforamtion.data_member_blood, (IEnumerable<SelectListItem>)ViewBag.Bloods)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">RH阴性</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownListFor(m => m.member_inforamtion.data_member_rh, (IEnumerable<SelectListItem>)ViewBag.RHs)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">职业</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownListFor(m => m.member_inforamtion.data_member_profession, (IEnumerable<SelectListItem>)ViewBag.Profession)
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <h1>疾病史</h1>
        <div class="step-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">疾病：@Html.HiddenFor(m => m.member_inforamtion.data_member_disease)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownList("data_member_disease", (IEnumerable<SelectListItem>)ViewBag.Disease)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">恶性肿瘤：</label>
                        <div class="col-sm-10 col-md-6">

                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_c, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">其他：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_other, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">确诊病例1：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_1, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_1_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">确诊病例2：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_2, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_2_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>




                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">确诊病例3：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_3, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_3_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">确诊病例4：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_4, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_4_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">确诊病例5：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_5, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_5_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">确诊病例6：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_6, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_disease_6_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label">疾病情况(新)：</label>
                        <div class="col-sm-10 col-md-6">

                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_diseases_bit, new { @class = "" })
                            @Html.TextAreaFor(m => m.member_inforamtion.data_member_diseases_comments, new { @class = "form-control" })


                        </div>
                    </div>



                </div>

            </div>

        </div>
        <h1>手术,外伤,输血</h1>
        <div class="step-content">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">是否手术</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_surgery, new { @class = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">手术1：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_surgery_1, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_surgery_1_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">手术2：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_surgery_2, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_surgery_2_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">是否外伤</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_injury, new { @class = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">外伤1：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_injury_1, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_injury_1_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">外伤2：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_injury_2, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_injury_2_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">是否输血</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_injury, new { @class = "" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">


                    <div class="form-group">
                        <label class="col-sm-4 control-label">输血1：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_blood_transfer_1_reason, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_blood_transfer_1_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">输血2：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_blood_transfer_2_reason, new { @class = "form-control" })

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.member_inforamtion.data_member_blood_transfer_2_date, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">手术情况(新)：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_operations_bit, new { @class = "" })无
                            @Html.TextAreaFor(m => m.member_inforamtion.data_member_operations_comments, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">外伤(新)：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_wound_bit, new { @class = "" })无
                            @Html.TextAreaFor(m => m.member_inforamtion.data_member_wound_comments, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">输血(新)：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_blood_bit, new { @class = "" })无
                            @Html.TextAreaFor(m => m.member_inforamtion.data_member_blood_comments, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1>疾病家族史</h1>
        <div class="step-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">父亲：@Html.HiddenFor(m => m.member_inforamtion.data_member_family_father)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownList("data_member_family_father", (IEnumerable<SelectListItem>)ViewBag.Disease)
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label">母亲：@Html.HiddenFor(m => m.member_inforamtion.data_member_family_mother)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownList("data_member_family_mother", (IEnumerable<SelectListItem>)ViewBag.Disease)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">兄弟姐妹：@Html.HiddenFor(m => m.member_inforamtion.data_member_family_brothers)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownList("data_member_family_brothers", (IEnumerable<SelectListItem>)ViewBag.Disease)
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label">疾病1</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m=>m.member_inforamtion.data_member_diseases_1)无
                            @Html.TextAreaFor(m => m.member_inforamtion.data_member_diseases_1_text, new { @class = "form-control" })
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_diseases_1_relationship, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">疾病2</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_diseases_2)无
                            @Html.TextAreaFor(m => m.member_inforamtion.data_member_diseases_2_text, new { @class = "form-control" })
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_diseases_2_relationship, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">子女：@Html.HiddenFor(m => m.member_inforamtion.data_member_family_children)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownList("data_member_family_children", (IEnumerable<SelectListItem>)ViewBag.Disease)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">遗传病史</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_inherited, new { @class = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">遗传病名称：</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_inherited_disease, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">疾病3</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_member_diseases_3)无
                            @Html.TextAreaFor(m => m.member_inforamtion.data_member_diseases_3_text, new { @class = "form-control" })
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_diseases_3_relationship, new { @class = "form-control" })
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <h1>体质状况</h1>
        <div class="step-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">身高(cm)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_height)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">腰围(cm)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_waist_line)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">臀围(cm)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_hips)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">体重(kg)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_weight)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">体脂含量(%)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_muscle)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">肌力(kg))</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_myodynamic)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">腰臀围比值(WHR)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_whr)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">反应时(sec)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_reflection)
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">心率(次/分钟)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_hear_rate)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">血压(mmHg)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_blood_pressure)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">非阔两(ml)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_lung)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">体质指数(BMI)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_bmi)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">平衡能力(sec)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_balance)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">肌耐力(kg)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_staying)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">柔韧性(kg)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_member_flexible)
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <h1>生活方式</h1>
        <div class="step-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">锻炼频率</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownListFor(m => m.member_inforamtion.data_physical_rate, (IEnumerable<SelectListItem>)ViewBag.Physical)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">每次锻炼时间(分钟)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_physical_time)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">坚持锻炼时间(年)</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_physical_total_time)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">锻炼场所</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownListFor(m => m.member_inforamtion.data_physical_place, (IEnumerable<SelectListItem>)ViewBag.PhysicalPlace)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">运动时间段</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownListFor(m => m.member_inforamtion.data_physical_schedule, (IEnumerable<SelectListItem>)ViewBag.PhysicalSchedule)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">运动项目</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_physical_item, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">吸烟情况</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownListFor(m => m.member_inforamtion.data_smoke, (IEnumerable<SelectListItem>)ViewBag.Smoke)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">日吸烟量</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_smoke_day)
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">开始吸烟年龄</label>
                        <div class="col-sm-10 col-md-6">@Html.TextBoxFor(m => m.member_inforamtion.data_smoke_begin)</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">戒烟年龄</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_smoke_end)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">饮酒情况</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownListFor(m => m.member_inforamtion.data_drink, (IEnumerable<SelectListItem>)ViewBag.Drink)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">日饮酒量</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_drink_day)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">是否戒酒</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_drink_Isdry) @Html.TextBoxFor(m => m.member_inforamtion.data_drink_Isdry_age)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">近一年是否曾醉酒</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.CheckBoxFor(m => m.member_inforamtion.data_drink_Isdrink, new { @class = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            饮酒种类
                            @Html.HiddenFor(m => m.member_inforamtion.data_drink_wine_options)
                        </label>
                        <div class="col-sm-10 col-md-6">
                            @Html.DropDownList("data_drink_wine_options", (IEnumerable<SelectListItem>)ViewBag.DrinkOptions)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">其他种类</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_drink_wine_options_others, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">每次平均多少两</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_drink_average1)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">每次平均多少瓶</label>
                        <div class="col-sm-10 col-md-6">
                            @Html.TextBoxFor(m => m.member_inforamtion.data_drink_average2)
                        </div>

                    </div>
                </div>
            </div>
        </div>
<h1>健康问题</h1>
<div class="step-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    脑血管疾病
                    @Html.HiddenFor(m => m.member_inforamtion.data_member_brain)
                </label>
                <div class="col-sm-10 col-md-6">
                    @Html.DropDownList("data_member_brain", (IEnumerable<SelectListItem>)ViewBag.BrainDisease)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">其他脑血管疾病</label>
                <div class="col-sm-10 col-md-6">
                    @Html.TextBoxFor(m => m.member_inforamtion.data_member_brain_others, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    肾脏疾病
                    @Html.HiddenFor(m => m.member_inforamtion.data_member_kidney)
                </label>
                <div class="col-sm-10 col-md-6">
                    @Html.DropDownList("data_member_kidney", (IEnumerable<SelectListItem>)ViewBag.Kidney)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">其他肾脏疾病</label>
                <div class="col-sm-10 col-md-6">
                    @Html.TextBoxFor(m => m.member_inforamtion.data_member_kidney_others, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label">
                    心脏疾病
                    @Html.HiddenFor(m => m.member_inforamtion.data_member_heart)
                </label>
                <div class="col-sm-10 col-md-6">
                    @Html.DropDownList("data_member_heart", (IEnumerable<SelectListItem>)ViewBag.HeartDisease)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">其他脑血管疾病</label>
                <div class="col-sm-10 col-md-6">
                    @Html.TextBoxFor(m => m.member_inforamtion.data_member_heart_others, new { @class = "form-control" })
                </div>
            </div>




        </div>

        <div class="col-lg-6">

            <div class="form-group">
                <label class="col-sm-4 control-label">
                    血管疾病

                    @Html.HiddenFor(m => m.member_inforamtion.data_member_artery)
                </label>
                <div class="col-sm-10 col-md-6">
                    @Html.DropDownList("data_member_artery", (IEnumerable<SelectListItem>)ViewBag.BloodPipe)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">其他血管疾病</label>
                <div class="col-sm-10 col-md-6">
                    @Html.TextBoxFor(m => m.member_inforamtion.data_member_artery_others, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label">
                    眼部疾病
                    @Html.HiddenFor(m => m.member_inforamtion.data_member_eye)

                </label>
                <div class="col-sm-10 col-md-6">
                    @Html.DropDownList("data_member_eye", (IEnumerable<SelectListItem>)ViewBag.EyeDisease)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">其他眼部疾病</label>
                <div class="col-sm-10 col-md-6">
                    @Html.TextBoxFor(m => m.member_inforamtion.data_member_eye_others, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">神经系统疾病</label>
                <div class="col-sm-10 col-md-6">
                    @Html.CheckBoxFor(m => m.member_inforamtion.data_member_nerve, new { @class = "" })
                    @Html.TextBoxFor(m => m.member_inforamtion.data_member_nerve_others, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">其他系统疾病</label>
                <div class="col-sm-10 col-md-6">
                    @Html.CheckBoxFor(m => m.member_inforamtion.data_member_other_disease, new { @class = "" })
                    @Html.TextBoxFor(m => m.member_inforamtion.data_member_other_disease_others, new { @class = "form-control" })
                </div>
            </div>

        </div>
    </div>
</div>

@if (Model.TaskId != 0)
                    {
                        <h1>任务情况</h1>
                        <div class="step-content">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">完成状态</label>
                                    <div class="col-sm-10 col-md-8">
                                        @Html.DropDownListFor(m => m.IsFinished, (IEnumerable<SelectListItem>)ViewBag.TaskStatus)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">回复</label>
                                    <div class="col-sm-10 col-md-8">
                                        @Html.TextAreaFor(m => m.TaskComments, new { @class = "form-control", @cols = 20,@rows=5 })
                                        <span class="help-block m-b-none">填写任务的完成情况，将会同步到我的任务中</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    }



</div>



}

        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("a.ajax").ajaxLink();
        $.validator.unobtrusive.parse("form");


      

        $("#wizard").steps(
            {
                enableCancelButton: false,//Cancel按钮不需要显示
                enableAllSteps: true,

                onFinished: function (event, currentIndex) {
                    //提交信息保存
                    var form = $("#form");
                    form.submit();
                }
            }

            );
        

        //任务备注
        $("#TaskComments").kendoEditor(
            {
                resizable: {
                    content: true,
                    toolbar: true
                }
            }
        );

        $("#IsFinished").kendoComboBox();
        //{ enableAllSteps: true, enablePagination: false });

        //血型
        $("#member_inforamtion_data_member_blood").kendoComboBox();
        //RH 阴性
        $("#member_inforamtion_data_member_rh").kendoComboBox();
        //职业
        $("#member_inforamtion_data_member_profession").kendoComboBox();

        //疾病选择
        var diseaseoptions = $("#data_member_disease").kendoMultiSelect(
           {
               change: onChange
           }).data("kendoMultiSelect");

        ////Set values.
        var diseases = $("#member_inforamtion_data_member_disease").val();
        if (diseases == undefined)
        { diseaseoptions.value(""); }
        else
        { diseaseoptions.value(diseases.split(",")); }
        function onChange() {
            $("#member_inforamtion_data_member_disease").val(diseaseoptions.value());
        }


        //父亲
        var fatheroptions = $("#data_member_family_father").kendoMultiSelect({ change: onfatherchange }).data("kendoMultiSelect");


        var fatherdiseases = $("#member_inforamtion_data_member_family_father").val();
        if (fatherdiseases == undefined)
        { fatheroptions.value(""); }
        else
        { fatheroptions.value(fatherdiseases.split(",")); }

        function onfatherchange() {
            //alert(fatheroptions.value());
            $("#member_inforamtion_data_member_family_father").val(fatheroptions.value());
        }




        //母亲
        var motheroptions = $("#data_member_family_mother").kendoMultiSelect({ change: onmotherchange }).data("kendoMultiSelect");

        var motherdiseases = $("#member_inforamtion_data_member_family_mother").val();
        if (motherdiseases == undefined)
        { motheroptions.value(""); }
        else
        { motheroptions.value(motherdiseases.split(",")); }

        function onmotherchange() {
            $("#member_inforamtion_data_member_family_mother").val(motheroptions.value());
        }






        //兄弟姐妹
        var brothersoptions = $("#data_member_family_brothers").kendoMultiSelect({ change: onbrotherchange }).data("kendoMultiSelect");

        var brotherdiseases = $("#member_inforamtion_data_member_family_brothers").val();
        if (brotherdiseases == undefined)
        { brothersoptions.value(""); }
        else
        { brothersoptions.value(brotherdiseases.split(",")); }

        function onbrotherchange() {
            $("#member_inforamtion_data_member_family_brothers").val(brothersoptions.value());
        }




        //子女
        var childrenoptions = $("#data_member_family_children").kendoMultiSelect({ change: onchildrenchange }).data("kendoMultiSelect");
        var childrendiseases = $("#member_inforamtion_data_member_family_children").val();
        if (childrendiseases == undefined)
        { childrenoptions.value(""); }
        else
        { childrenoptions.value(childrendiseases.split(",")); }

        function onchildrenchange() {
            $("#member_inforamtion_data_member_family_children").val(childrenoptions.value());
        }



        //确诊时间1 选择

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        //身高
        $("#member_inforamtion_data_member_height").kendoNumericTextBox({ format: "#.00 cm" });
        //心率
        $("#member_inforamtion_data_member_hear_rate").kendoNumericTextBox({ format: "# 次/分钟" });
        //腰围
        $("#member_inforamtion_data_member_waist_line").kendoNumericTextBox({ format: "#.00 cm" });
        //血压
        $("#member_inforamtion_data_member_blood_pressure").kendoNumericTextBox({ format: "#.00 mmHg" });
        //臀围
        $("#member_inforamtion_data_member_hips").kendoNumericTextBox({ format: "#.00 cm" });
        //肺阔量
        $("#member_inforamtion_data_member_lung").kendoNumericTextBox({ format: "#.00 ml" });
        //体重
        $("#member_inforamtion_data_member_weight").kendoNumericTextBox({ format: "#.00 kg" });
        //体制指数
        $("#member_inforamtion_data_member_bmi").kendoNumericTextBox({ format: "#.00 bmi" });
        //体质含量
        $("#member_inforamtion_data_member_muscle").kendoNumericTextBox({ format: "p0" });
        //平衡能力
        $("#member_inforamtion_data_member_balance").kendoNumericTextBox({ format: "#.00 sec" });
        //肌力
        $("#member_inforamtion_data_member_myodynamic").kendoNumericTextBox({ format: "#.00 kg" });
        //肌耐力
        $("#member_inforamtion_data_member_staying").kendoNumericTextBox({ format: "#.00 kg" });
        //腰臀围比值
        $("#member_inforamtion_data_member_whr").kendoNumericTextBox({ format: "#.00 whr" });
        //柔韧性
        $("#member_inforamtion_data_member_flexible").kendoNumericTextBox({ format: "#.00 kg" });
        //反应时
        $("#member_inforamtion_data_member_reflection").kendoNumericTextBox({ format: "#.00 sec" });


        //锻炼频率
        $("#member_inforamtion_data_physical_rate").kendoComboBox();
        //每次锻炼时间
        $("#member_inforamtion_data_physical_time").kendoNumericTextBox({ format: "#.00 min" });
        //坚持锻炼时间
        $("#member_inforamtion_data_physical_total_time").kendoNumericTextBox({ format: "#.00 年" });


        //锻炼场所
        $("#member_inforamtion_data_physical_place").kendoComboBox();
        //运动时间段
        $("#member_inforamtion_data_physical_schedule").kendoComboBox();
        //吸烟情况
        //data_smoke
        $("#member_inforamtion_data_smoke").kendoComboBox();
        //饮酒情况
        //data_drink
        $("#member_inforamtion_data_drink").kendoComboBox();

        //日吸烟量
        $("#member_inforamtion_data_smoke_day").kendoNumericTextBox({ format: "#.00 包" });
        //开始抽烟年龄
        $("#member_inforamtion_data_smoke_begin").kendoNumericTextBox({ format: "#.00 岁" });
        //戒烟年龄
        $("#member_inforamtion_data_smoke_end").kendoNumericTextBox({ format: "#.00 岁" });
        //日饮酒量
        //data_drink_day
        $("#member_inforamtion_data_drink_day").kendoNumericTextBox({ format: "#.00 两" });
        //戒酒年龄
        //data_drink_Isdry_age
        $("#member_inforamtion_data_drink_Isdry_age").kendoNumericTextBox({ format: "#.00 岁" });
        //开始饮酒年龄
        $("#member_inforamtion_data_data_drink_start").kendoNumericTextBox({ format: "#.00 岁" });
        
        //每次多少两
        $("#member_inforamtion_data_drink_average1").kendoNumericTextBox({ format: "#.00 两" });
        //每次多少瓶
        $("#member_inforamtion_data_drink_average2").kendoNumericTextBox({ format: "#.00 瓶" });





        //饮酒种类
        //data_drink_wine_options
        var wineoptions = $("#data_drink_wine_options").kendoMultiSelect({ change: onwineschange }).data("kendoMultiSelect");

        var wines = $("#member_inforamtion_data_drink_wine_options").val();
        if (wines == undefined)
        { wineoptions.value(""); }
        else
        { wineoptions.value(wines.split(",")); }

        function onwineschange() {
            $("#member_inforamtion_data_drink_wine_options").val(wineoptions.value());
        }




        //脑血管疾病
        var brainoptions = $("#data_member_brain").kendoMultiSelect({ change: onbrainchange }).data("kendoMultiSelect");

        var brains = $("#member_inforamtion_data_member_brain").val();
        if (brains == undefined)
        { brainoptions.value(""); }
        else
        { brainoptions.value(wines.split(",")); }

        function onbrainchange() {
            $("#member_inforamtion_data_member_brain").val(brainoptions.value());
        }




        //肾脏疾病
        var kidneyoptions = $("#data_member_kidney").kendoMultiSelect({ change: onkedneyschange }).data("kendoMultiSelect");





        var kidneys = $("#member_inforamtion_data_member_kidney").val();
        if (kidneys == undefined)
        { kidneyoptions.value(""); }
        else
        { kidneyoptions.value(kidneys.split(",")); }

        function onkedneyschange() {
            $("#member_inforamtion_data_member_kidney").val(kidneyoptions.value());
        }



        //心脏疾病
        var heartoptions = $("#data_member_heart").kendoMultiSelect({ change: onheartchange }).data("kendoMultiSelect");


        var hearts = $("#member_inforamtion_data_member_heart").val();
        if (hearts == undefined)
        { heartoptions.value(""); }
        else
        { heartoptions.value(hearts.split(",")); }

        function onheartchange() {
            $("#member_inforamtion_data_member_heart").val(heartoptions.value());
        }



        //血管疾病
        var bloodoptions = $("#data_member_artery").kendoMultiSelect({ change: onbloodchange }).data("kendoMultiSelect");

        var bloods = $("#member_inforamtion_data_member_artery").val();
        if (bloods == undefined)
        { bloodoptions.value(""); }
        else
        { bloodoptions.value(bloods.split(",")); }

        function onbloodchange() {
            $("#member_inforamtion_data_member_artery").val(bloodoptions.value());
        }



        //眼部疾病
        var eyeoptions = $("#data_member_eye").kendoMultiSelect({ change: oneyeschange }).data("kendoMultiSelect");

        var eyes = $("#member_inforamtion_data_member_eye").val();
        if (eyes == undefined)
        { eyeoptions.value(""); }
        else
        { eyeoptions.value(eyes.split(",")); }

        function oneyeschange() {
            $("#member_inforamtion_data_member_eye").val(eyeoptions.value());
        }

    });
</script>