﻿@model data_service

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>课程管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <a href="/service" class="ajax">课程</a>
            </li>
            <li class="active">
                <strong>课程信息</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs" id="ServiceTab">
                        <li class="active"><a data-toggle="tab" href="#tab-1">基础信息</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">任务</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">课程编号：</label>
                                <p class="form-control-static">@Model.data_service_id</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">课程名称：</label>
                                <p class="form-control-static">@Model.data_service_name</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">有效期：</label>
                                <p class="form-control-static">@Model.data_service_validate_months 个月</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">价格：</label>
                                <p class="form-control-static">@Model.data_service_price</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">状态：</label>
                                <p class="form-control-static">@Model.data_dictionary.data_dictionary_text</p>
                            </div>
                        </form>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox-content m-b-sm border-bottom">
                                    <div class="btn-group">
                                        <a href="#" onclick="javascript: dataservicetasks.openForm('@Model.data_service_id');" class="ajax btn btn-primary"><i class="fa fa-plus"></i> 新增任务</a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" onclick="javascript: dataservicetasks.update();" class="ajax btn btn-primary"><i class="fa fa-save"></i> 编辑任务</a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" onclick="javascript: dataservicetasks.changeOrder(0,1);" class="ajax btn btn-primary"><i class="fa fa-angle-up"></i> 向上</a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" onclick="javascript: dataservicetasks.changeOrder(0,0);" class="ajax btn btn-primary"><i class="fa fa-angle-down"></i> 向下</a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" onclick="javascript: dataservicetasks.deleteRow(0);" class="ajax btn btn-primary"><i class="fa fa-minus-circle"></i> 删除</a>
                                    </div>
                                </div>
                                <div id="grid"></div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        dataservicetasks.init(@Model.data_service_id);
        dataservicetasks.initForm();
        

        //added by tsing on 8/7
        //$("#data_basetask_id").kendoComboBox();
        ////data_nexttask_interval
        //$("#data_nexttask_interval").kendoNumericTextBox({ format: "# 天" });
        //$("#cycleDays").kendoNumericTextBox({ min: 1, step: 1, format: "0" });
        //$("#cyclemax").kendoNumericTextBox({ min: 2, step: 1, format: "0" });

        $('#ServiceTab li:eq(@ViewBag.CurrentTab) a').tab('show');
        $("#taskWindow").data("kendoWindow").center().close();




        $("#task2Window").data("kendoWindow").center().close();
        
    });


</script>
