﻿@model data_service_tasks

<div class="ibox-content" id="edit_pop_of_Task">
    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.Hidden("data_service_task_id", Model.data_service_tasks_id)*@
        @Html.HiddenFor(m => m.data_service_tasks_id)

        <div class="form-group">
            <label class="col-sm-2 control-label">任务</label>
            <div class="col-sm-10 col-md-3">
                @Html.DropDownList("data_basetask_id", (IEnumerable<SelectListItem>)ViewBag.Tasks)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">时间间隔</label>
            <div class="col-sm-10 col-md-3">
                @Html.TextBox("data_nexttask_interval", Model.data_nexttask_interval)
                @Html.ValidationMessage("data_nexttask_interval", null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">任务循环</label>
            <div class="col-sm-10 col-md-3">
                @Html.CheckBox("Iscycle", Model.Iscycle.Value, new { @style = "margin-top: 10px", @onclick = "dataservicetasks.IsCycled(this)" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">循环间隔</label>
            <div class="col-sm-10 col-md-6">
                @Html.TextBox("cycleDays", Model.cycleDays, new { @style = "width: 100px;" })  天
                @Html.ValidationMessage("cycleDays", null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">最大循环次数</label>
            <div class="col-sm-10 col-md-6">
                @Html.TextBox("cyclemax", Model.cyclemax, new { @style = "width: 100px" })
                @Html.ValidationMessage("cyclemax", null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary" type="submit">修改</button>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#edit_pop_of_Task #data_basetask_id").kendoComboBox();
        $("#edit_pop_of_Task #data_nexttask_interval").kendoNumericTextBox({ format: "# 天" });
        $("#edit_pop_of_Task #cycleDays").kendoNumericTextBox({ min: 1, step: 1, format: "0" });
        $("#edit_pop_of_Task #cyclemax").kendoNumericTextBox({ min: 2, step: 1, format: "0" });
    });
    function close(result) {
        //dataservicetasks.init();
        dataservicetasks.updatereply(result);
    }
</script>



