﻿@model data_service_tasks


<div class="ibox-content">
    @using (Ajax.BeginForm("NewTask", null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("data_service_id", Model.data_service_id)

        <div class="form-group">
            <label class="col-sm-2 control-label">任务</label>
            <div class="col-sm-10 col-md-3">
                @Html.DropDownList("data_basetask_id", (IEnumerable<SelectListItem>)ViewBag.Tasks)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">时间间隔</label>
            <div class="col-sm-10 col-md-3">
                @Html.TextBox("data_nexttask_interval", "5")
                @Html.ValidationMessage("data_nexttask_interval", null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">任务循环</label>
            <div class="col-sm-10 col-md-3">
                @Html.CheckBox("Iscycle", true, new { @style = "margin-top: 10px; ", @onclick = "dataservicetasks.IsCycled(this)" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">循环间隔</label>
            <div class="col-sm-10 col-md-6">
                @Html.TextBox("cycleDays", 30, new { @style = "width: 100px" })  天
                @Html.ValidationMessage("cycleDays", null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">最大循环次数</label>
            <div class="col-sm-10 col-md-6">
                @Html.TextBox("cyclemax", 3, new { @style = "width: 100px" })
                @Html.ValidationMessage("cyclemax", null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary" type="submit">新增</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    
    $("#data_basetask_id").kendoComboBox();
    //data_nexttask_interval
    $("#data_nexttask_interval").kendoNumericTextBox({ format: "# 天" });
    $("#cycleDays").kendoNumericTextBox({ min: 1, step: 1, format: "0" });
    $("#cyclemax").kendoNumericTextBox({ min: 2, step: 1, format: "0" });

</script>