﻿<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">今日</span>
                <h5><a href="/member" class="ajax">注册会员</a></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="membercount">0</h1>
                <div class="stat-percent font-bold text-navy" ><span class="label label-info pull-right">NEW</span></div>
                <small><label id="membertodaycount">0</label> 新会员</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Monthly</span>
                <h5><a href="/member/viewuploadrecords" class="ajax">检测数据</a></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="servicescount">0</h1>
                <div class="stat-percent font-bold text-navy"><span class="label label-info pull-right">NEW</span></div>
                <small><label id="todayservicescount">0</label>新检测数据</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-warning pull-right">Annual</span>
                <h5><a href="/Codes/ViewCodeServices" class="ajax">激活课程</a></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="coursescount">0</h1>
                <div class="stat-percent font-bold text-navy"><span class="label label-info pull-right">NEW</span></div>
                <small><label id="todaycoursescount">0</label>新课程</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-warning pull-right">Annual</span>
                <h5><a href="/DataCodeServicesTasks" class="ajax">我的任务</a></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="taskscount">0</h1>
                <div class="stat-percent font-bold text-navy"><span class="label label-info pull-right">NEW</span></div>
                <small><label id="todaytaskscount">0</label>任务</small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">今日</span>
                <h5><a href="/Message" class="ajax">我的留言</a></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="messagescount">0</h1>
                <div class="stat-percent font-bold text-navy"><span class="label label-info pull-right">NEW</span></div>
                <small><label id="todaymessagescount">0</label>未回复</small>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">今日</span>
                <h5><a href="/checks" class="ajax">我的审核</a></h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" id="checkscount">0</h1>
                <div class="stat-percent font-bold text-navy"><span class="label label-info pull-right">NEW</span></div>
                <small><label id="todaycheckscount">0</label>未审核</small>
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <span class="pull-right text-right">
                            <small>月会员注册数量: <strong>全时</strong></small>
                            <br />
                            总会员量: 162,862
                        </span>
                        <h1 class="m-b-xs">$ 50,992</h1>
                        <h3 class="font-bold no-margins">
                            2015服务总收入
                        </h3>
                        <small>Sales marketing.</small>
                    </div>

                    <div>
                        <canvas id="lineChart" height="70"></canvas>
                    </div>

                    <div class="m-t-md">
                        <small class="pull-right">
                            <i class="fa fa-clock-o"> </i>
                            更新于 on 16.07.2015
                        </small>
                        <small>
                            <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
                        </small>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("a.ajax").ajaxLink();
        //Tsing 
        //加载会员个数和今日增加的会员个数
        data_dashboard.GetAjaxData("/dashboard/GetMembersCount", "membercount");
        data_dashboard.GetAjaxData("/dashboard/GetTodayMembersCount", "membertodaycount");
        //加载检测数据
        data_dashboard.GetAjaxData("/dashboard/GetServicesCount", "servicescount");
        data_dashboard.GetAjaxData("/dashboard/GetTodayServicesCount", "todayservicescount");
        //加载激活课程
        data_dashboard.GetAjaxData("/dashboard/GetCoursesCount", "coursescount");
        data_dashboard.GetAjaxData("/dashboard/GetTodayCoursesCount", "todaycoursescount");
        //加载我的任务
        data_dashboard.GetAjaxData("/dashboard/GetTasks", "taskscount");
        data_dashboard.GetAjaxData("/dashboard/GetTodayTasks", "todaytaskscount");
        //加载我的留言
        data_dashboard.GetAjaxData("/dashboard/GetMessages", "messagescount");
        data_dashboard.GetAjaxData("/dashboard/GetUnReplyMessage", "todaymessagescount");
        //加载我的审核
        data_dashboard.GetAjaxData("/dashboard/GetMyChecksCount", "checkscount");
        data_dashboard.GetAjaxData("/dashboard/GetTodayMyChecksCount", "todaycheckscount");


        var lineData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "Example dataset",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    label: "Example dataset",
                    fillColor: "rgba(26,179,148,0.5)",
                    strokeColor: "rgba(26,179,148,0.7)",
                    pointColor: "rgba(26,179,148,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(26,179,148,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
            ]
        };

        var lineOptions = {
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            bezierCurve: true,
            bezierCurveTension: 0.4,
            pointDot: true,
            pointDotRadius: 4,
            pointDotStrokeWidth: 1,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetStrokeWidth: 2,
            datasetFill: true,
            responsive: true,
        };


        var ctx = document.getElementById("lineChart").getContext("2d");
        var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

    });
</script>