﻿@model DataKnowledgeDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>知识库</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/dataknowledge" class="ajax">知识库</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>知识库审核</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_knowledge_id)
                         @Html.HiddenFor(m => m.data_knowledge_title)

                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-10 col-md-3">
                                <p class="form-control-static">@Model.data_knowledge_type_title</p>
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">题目</label>
                            <div class="col-sm-10 col-md-3">
                                <p class="form-control-static">@Model.data_knowledge_title</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">摘要</label>
                            <div class="col-sm-10 col-md-3">
                                <p class="form-control-static">@Model.data_knowledge_summary</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键字</label>
                            <div class="col-sm-10 col-md-3">
                                <p class="form-control-static">@Model.data_knowledge_keyword</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10 col-md-3">
                                <p class="form-control-static">@Model.data_knowledge_remark</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件</label>
                            <div class="col-sm-10 col-md-3">
                                <p class="form-control-static"><a href="@Model.data_knowledge_path">浏览文档</a></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">当前状态</label>
                            <div class="col-sm-10 col-md-3">
                                <p class="form-control-static">@(Model.data_knowledge_status==35?"生效":"未审核")</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">审核通过</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        dataknowledge.initForm();
    });
</script>