﻿@model DataKnowledgeDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>知识库</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/dataknowledge" class="ajax">知识库</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>知识库维护</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.data_knowledge_id)

                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-10 col-md-3">
                                @*@Html.TextBoxFor(m => m.data_knowledge_type, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.data_knowledge_type, null, new { @class = "help-block m-b-none text-danger" })*@

                                @Html.DropDownListFor(m => m.data_knowledge_type, (IEnumerable<SelectListItem>)ViewBag.DataKnowledgeType)
                                @Html.ValidationMessageFor(m => m.data_knowledge_type_title, null, new { @class = "help-block m-b-none text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_knowledge_title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_knowledge_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">摘要</label>
                            <div class="col-sm-10 col-md-6">
                                @Html.TextAreaFor(m => m.data_knowledge_summary, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_knowledge_summary, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键字</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_knowledge_keyword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_knowledge_keyword, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10 col-md-6">
                                @Html.TextAreaFor(m => m.data_knowledge_remark, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_knowledge_remark, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件</label>
                            <div class="col-sm-7 col-md-3">
                                @Html.HiddenFor(m => m.data_knowledge_path, new { @id = "data_knowledge_path" })
                                <input id="data_knowledge_path_upload" type="file" value="" name="data_knowledge_path" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <a href="javascript:void(0)" onclick="uploadFile('data_knowledge_path_upload', 'docments', 'data_knowledge_path_upload_hint', 'data_knowledge_path')">上传</a>
                                <span id="data_knowledge_path_upload_hint"></span>
                                
                               
                                @if (string.IsNullOrEmpty(Model.data_knowledge_path))
                                {
                                    <a href="#" id="upload_img_sample"></a>
                                }
                                else
                                {
                                     <a href="@Model.data_knowledge_path" id="upload_img_sample">【浏览文档】</a>
                                }
                            
                            
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        dataknowledge.initForm();

        //Tsing 2015/8/19
        //Summary 为一个rich textbox
        $("#data_knowledge_summary").kendoEditor({
            resizable: {
                content: true,
                toolbar: true
            }
        });


    });

    //to-do: will write a jq component to replace this
    //adam 2015-08-05
    function uploadFile(id, fileNamePrefix, hint, filePath) {
        // alert(filePath);
        var file = $("#" + id);
        // alert(file);
        var form = $("<form method='POST' action='/FileUpload'><input type='hidden' name='prefix' value='" + fileNamePrefix + "'></form>");
        form.appendTo(file.parent());
        file.appendTo(form);
        $("#" + hint).text("上传中 ...");
        var options = {
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.filesaved) {
                    $("#" + hint).text("");
                    $("#" + filePath).val(data.filepath);
                    $("#upload_img_sample").html("浏览文档");
                    $("#upload_img_sample").attr("href", data.filepath).show();

                } else {
                    $("#" + hint).text("上传失败");
                }

                file.appendTo(form.parent());
                form.remove();
            }
        };

        form.ajaxForm(options);

        form.submit();
    }
</script>



