﻿@using PropertyHub.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/css")
    @RenderSection("head", required: false)
</head>
<body class="@ViewBag.BodyClass">
    @if (IsSectionDefined("page"))
    {
        @RenderSection("page", required: false)
    }
    else
    {
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                    <img alt="image" class="img-circle" src="/content/img/user.png" />
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            @*<strong class="font-bold">@HttpContext.Current.User.Identity.GetUserNames()</strong>*@
                                        </span> <span class="text-muted text-xs block">@HttpContext.Current.User.Identity.GetUserNames()<b class="caret"></b></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    @*<li><a href="profile.html">Profile</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>*@
                                    <li><a href="mailbox.html">修改密码</a></li>
                                    <li class="divider"></li>
                                    <li><a href="login.html">退出</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">

                            </div>
                        </li>
                        @*<li class="active">
                                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li class="active"><a href="index.html">Dashboard v.1</a></li>
                                    <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                                    <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                                    <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/demo"><i class="fa fa-flask"></i> <span class="nav-label">Demo</span></a>
                            </li>*@
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="快速搜索..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">欢迎来到全时体育产业管理咨询系统.</span>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> 您有 16 条未回复信息
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                <i class="fa fa-twitter fa-fw"></i> 您有12 条今日任务
                                                <span class="pull-right text-muted small">12 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="grid_options.html">
                                            <div>
                                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="login.html">
                                    <i class="fa fa-sign-out"></i> 退出
                                </a>
                            </li>
                            <li>
                                <a class="right-sidebar-toggle">
                                    <i class="fa fa-tasks"></i>
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>
                <div id="mainContent"></div>
                @RenderBody()



                <div id="taskWindow">

                </div>
                <div id="task2Window">
                </div>
                <div class="footer" id="footer">
                    <div class="pull-right">
                        @DateTime.Now.ToString()
                    </div>
                    <div>
                        <strong>Copyright</strong> 青岛全时体育产业管理咨询有限公司 © 2014-2015
                    </div>
                </div>
            </div>

        </div>

    }


    @Scripts.Render("~/content/js")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)


    <script>
        $(document).ready(function () {
            // Set idle time
        //    $(document).idleTimer(5000);
            

            toastr.options = {
                "positionClass": "toast-bottom-right",
                "timeOut": 8000
            };


            //Tsing
            //Added on 8/25
            //这是一个定时器，去时时刷新是否有当前人的
            $('#footer').timer({
                duration: '10s',
                callback: function () {
                    
                    //查看 我没有处理的留言.
                    $.ajax({
                        url: "/dashboard/GetUnReplyMessage",
                        type: "POST",
                        success: function (data) {
                          //  $("#" + divId).html(data);
                            if (data != 0) {

                                var msg = "您有 "+data+"个留言未回复,请去【我的留言】进行处理.";     
                                toastr.warning(msg, '消息提醒');
                                //   // alert("Hi");
                            $('.custom-alert').fadeIn();
                            $('.custom-alert-active').fadeOut();
                            }
                        }
                    });

                    //查看我今日没有完成的任务.
                    $.ajax({
                        url: "/dashboard/GetUnProcessedTask",
                        type: "POST",
                        success: function (data) {
                            //  $("#" + divId).html(data);
                            if (data != 0) {

                                var msg = "您有 " + data + "个任务未处理,请去【我的任务】进行处理.";
                                toastr.success(msg, '任务提醒');
                                //   // alert("Hi");
                                $('.custom-alert').fadeIn();
                                $('.custom-alert-active').fadeOut();
                            }
                        }
                    });

                    //查看今日上传的体测报告.
                    $.ajax({
                        url: "/dashboard/GetTodayMyChecksCount",
                        type: "POST",
                        success: function (data) {
                            if (data != 0) {
                                var msg = "今日有 " + data + "个新上传的体测报告,请去【数据上传】进行处理.";
                                toastr.info(msg, '消息提醒');
                                $('.custom-alert').fadeIn();
                                $('.custom-alert-active').fadeOut();
                            }
                        }
                    });
                },
                repeat: true //repeatedly calls the callback you specify
            });

        });

        //$(document).on("idle.idleTimer", function (event, elem, obj) {
 

        //    toastr.warning('You can call any function after idle timeout.', 'Idle time');
        //   // alert("Hi");
        //    $('.custom-alert').fadeIn();
        //    $('.custom-alert-active').fadeOut();

        //});

        //$(document).on("active.idleTimer", function (event, elem, obj, triggerevent) {
        //    // function you want to fire when the user becomes active again
        //    toastr.clear();
        //    $('.custom-alert').fadeOut();
        //    toastr.success('Great that you decided to move a mouse.', 'You are back. ');
        //});
        


    </script>


</body>
</html>
