﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>任务管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>

            <li class="active">
                <strong>调查问卷</strong>
            </li>
        </ol>
    </div>
    @*<div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">

            <a href="@Url.Action("Testing", new { memberId=1,testingId=1 })" class="ajax btn btn-primary"><i class="fa fa-plus"></i> Demo(member:1,testing:1)</a>

        </ol>
    </div>*@
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div id="grid"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datamembertesting.init();
    });
</script>
