﻿@model TestingModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>调查问卷</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>

            <li class="active">
                <strong>调查问卷</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>调查问卷</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm("Testing", null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_member_testing_id)
                        @Html.HiddenFor(m => m.data_member_id)
                        @Html.HiddenFor(m => m.data_questions_testing_id)
                        @Html.HiddenFor(m => m.data_member_name)
                        @Html.HiddenFor(m => m.data_questions_testing_title)
                        @Html.HiddenFor(m => m.TaskId)
                        @Html.Hidden("backKind", (int?)ViewBag.backKind)

                        <p>调查对象：@Html.DisplayFor(m => m.data_member_name)</p>
                        <p>调查项目：@Html.DisplayFor(m => m.data_questions_testing_title)</p>

                        for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            <div class="form-group">
                                @Html.HiddenFor(m => m.Questions[i].data_questions_id)
                                @Html.HiddenFor(m => m.Questions[i].data_questions_text)
                                <h3>@(i + 1) . @Html.DisplayFor(m => m.Questions[i].data_questions_text)</h3>
                                <div>
                                    <p>
                                        <label class="col-sm-2">@Html.RadioButtonFor(m => m.Questions[i].Answer, "True") 是</label>
                                        <label class="col-sm-2">@Html.RadioButtonFor(m => m.Questions[i].Answer, "False") 否</label>
                                        <label class="col-sm-4">@Html.RadioButtonFor(m => m.Questions[i].Answer, "Null") 其他 @Html.TextBoxFor(m => m.Questions[i].Comments, new { @class = "form-control" })</label>
                                    </p>
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <h4>【备注】</h4>
                            <div>
                                @Html.TextAreaFor(m => m.data_questions_testing_remark, new { style = "width:100%; height:80px;", @class = "form-control" })
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                     if (Model.TaskId != 0)
                        {
                            <div class="form-group">
                                <h4>任务完成情况</h4>
                            <div>
                                @Html.DropDownListFor(m => m.IsFinished, (IEnumerable<SelectListItem>)ViewBag.TaskStatus)
                            </div>
                        </div>
                            <div class="form-group">
                                <h4>任务备注</h4>
                                <div>
                                    @Html.TextAreaFor(m => m.TaskComments, new { @class = "form-control" })
                                </div>
                            </div>

                        }







                        <div>
                            @Html.ValidationSummary("", new { @class = "help-block m-b-none text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        datamembertesting.initForm();
        
        //任务完成情况.
        $("#IsFinished").kendoComboBox();

    });
</script>