﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>分类数据</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li class="active">
                <strong>分类数据</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            @{
                if ((bool)ViewBag.canAdd)
                {
                    <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> 新建</a>
                }
                if ((bool)ViewBag.canEdit)
                {
                    <a href="javascript:datadictionary.edit()" class=" btn btn-primary"><i class="fa fa-reply"></i>编辑</a>
                }
                if ((bool)ViewBag.canDelete)
                {
                    <a href="javascript:datadictionary.deleteRow()" class=" btn btn-primary"><i class="fa fa-reply"></i>删除</a>
                }
            }                 
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="ibox-content m-b-sm border-bottom">
            <div class="btn-group">
                <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> New</a>
            </div>
        </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div id="griddictionary"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var type = "@ViewBag.type";

       // alert(type);
        datadictionary.init(type);
    });
</script>
