﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Demo</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>Basic Form</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="btn-group">
            <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i>新增</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="grid"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        demo.init();
    });
</script>
