﻿@model RegisterAsSubscriptionModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_Nomenu.cshtml";
}

@*<div class="row">
    <div class="col-lg-12">*@
        @*<div class="ibox float-e-margins">*@
            @*<div class="ibox-content text-center p-md">*@

                <h2 style="font-family:黑体">全时伙伴注册声明</h2>

            @*</div>*@

            <p class="lead" style="font-family:宋体" >
                青岛全时体育产业管理咨询有限公司是一家物联网健康科技新技术公司，全时公司致力于为客户提供一站式、体系化健康解决方案。
            </p>
            <p class="lead">
                目前，随着全时体育业务的发展及中国体育产业的兴起，公司着眼全国，诚邀有识之士，共同开拓智慧健身市场。只要你认可健身行业，拥有健身市场的洞察力，可以提供开拓市场的有效信息，你就可以成为我们的业务发展伙伴。成为全时体育业务发展伙伴，你只需要如实填写注册信息即可，公司会在三个工作日内回访确认你的注册信息是否属实。身份确认后，我们将依据您所在城市招募智慧健身业务发展负责人，你可以是我们的合作伙伴，也可以成为我们的分公司负责人，只要你想要，我们就可以提供一个全国的大平台供你发展。
            </p>
            <p class="lead">
                全时公司郑重承诺：您的注册信息将严格保密不会对外泄露。注册行为为个人自愿，请如实填写个人资料。全时体育期待与你共创智慧健身的未来！
            </p>
        @*</div>
    </div>*@
@*</div>*@





<h2>Register</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Create a new account as a subscription</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="form-group">
        <label class="col-sm-2 control-label">姓名</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.FirstName, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">国家</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.LastName, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">省</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.Email, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">城市</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.Email, null, new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        <label class="col-sm-2 control-label">基础指标</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.UserName, null, new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Subscription.CompanyName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Subscription.CompanyName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Subscription.CompanyName, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Subscription.Subdomain, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Subscription.Subdomain, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Subscription.Subdomain, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
