@charset "utf-8";
/* CSS Document */

/*------公共样式------*/
body { font-size:12px; font-family:"宋体"; line-height:2; height:100%; width:100%; margin:0 auto; color:#333; letter-spacing:0.1em; }
ul,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p,div { padding:0; margin:0; }
ul,li { list-style:none; }
img { border:0; }
a { color:#555; text-decoration:none; }
a:hover { color:#f60; text-decoration:underline; }
.clearfloat { clear:both; height:0; font-size:1px; line-height:0px; } 
.fl { float:left; }
.fr { float:right; }

a{text-decoration:none;color:#333; }
a:hover { text-decoration:underline;}
a.more{ font-size:14px; font-weight:bold; color:#000;}
img{ border:none;}

.fl{ float:left;}
.fr{ float:right;}
.cl{ clear:left;}
.cr{ clear:right}
.cb{ clear:both;}

.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font20{ font-size:18px; font-style:italic;}
.white{ color:#fff;}
.black{ color:#000;}
.gray{ color:#666;}
.grayD{ color:#333;}
.grayL{ color:#999;}
.black{ color:#000;}
.green{ color:#209209;}
.zise{ color:#693389}
.orange{ color:#ff7200;}
.red{ color:#c72f2f;}
.pink{ color:#e03770;}
.blue{ color:#5A74E7;}
.b{ font-weight:bold;}
.n{ font-weight:normal;}
.fontLine{ text-decoration:underline;}

.mgt5{ margin-top:5px;}
.mgt10{ margin-top:10px; _display:block;}

#headPasswd { width:820px; height:70px; padding-top:30px; margin:0 auto; }
#headPasswd .hpLink { float:right; padding-top:48px; color:#D8D8D8; }
/*#wrapPasswd{ width:820px; margin:0 auto;}
#wrapPasswd dl dt.wp{ height:31px; background:url(../images/wrapBg-01.jpg) no-repeat; font-weight:bold; line-height:31px; color:#fff; font-size:14px; text-indent:17px;}
#wrapPasswd dl dd.wp{ background:url(../images/wrapBg-02.jpg) repeat-y;width:820px;}
#wrapPasswd .wpBot{ height:5px; background:url(../images/wrapBg-03.jpg) no-repeat; font-size:0;}*/
#wrapSuc { width:820px; margin:0 auto; }
#wrapSuc .wsTop { height:5px; background:url(../images/wrapBg-04.jpg) no-repeat; font-size:0; }
#wrapSuc .wsCen{ border:1px solid #C8CBD2; background:#fafafa; border-width:0 1px;}
#wrapSuc .wsBot{ height:5px; background:url(../images/wrapBg-05.jpg) no-repeat; font-size:0;}
#foot{ width:820px; margin:0 auto; height:40px; line-height:40px; text-align:center; color:#D8D8D8}
#footRe{width:815px; margin:0 auto; padding:10px 0 0 5px; height:28px; color:#ddd;}

.regSuc{ padding:20px 0 0 230px; height:90px; }
.regSuc img{ float:left;}
.regSuc h4{ font-size:24px; float:left; padding:15px 0 0 16px; width:490px; height:45px;}
/*.regSuc p{float:left; padding-left:16px; width:490px; font-size:14px; font-weight:bold;}*/

.reg_email01 { margin:20px 50px 0 50px; line-height:30px; border-bottom:dashed 1px #d2d2d2; padding:0 15px 30px 0; }
.reg_email01 a { color:#03719a; }
.reg_email02 { margin:20px 50px 0 50px; line-height:25px; font-size:14px; }
.reg_email03{ padding:15px 0 0 300px; height:39px; }
.reg_email03 img{ float:left;}
.reg_email03 .a1{ float:left; padding:14px 0 0 16px; width:200px; color:#03719a; line-height:25px; }

.regBanner{width:100%; height:60px; margin:25px auto; text-align:center; }

/*.sendMail{ padding:75px 0 80px 0; text-align:center; font-size:14px;}
.sendMail p{ height:55px;}
.sendMail p.pBtn{ height:95px;}
.sendMail p.pBtn a{ width:182px; height:45px; display:inline-block; background:url(../images/button-01.jpg) no-repeat;}
.sendMail p.pBtn a:hover{ background:url(button-01-on.jpg) no-repeat;}

.passFill{ width:798px; padding:10px 0 4px 10px;}
.passFill dl dt{ height:25px; padding:7px 0 0 15px; background:url(../images/fillBg-01.jpg) no-repeat; font-size:14px; font-weight:bold; font-weight:bold;}
.passFill dl dt img{ position:relative; top:2px; margin-right:5px;}
.passFill dl dd{ border:1px solid #aaa; border-width:0 1px 1px;}
.passFill dl dd.pfEmail{ padding:25px 0 0 25px;}
.passFill dl dd.pfEmail ul li{ height:52px;}
.passFill dl dd.pfEmail ul li.liFir{ position:relative;}
.passFill dl dd.pfEmail ul li .liName{ font-weight:bold; width:75px; padding-top:5px; float:left; font-size:14px;}
.passFill dl dd.pfEmail ul li .liWrite{ width:203px; float:left;}
.passFill dl dd.pfEmail ul li .liWord{ padding-top:6px; float:left;}
.passFill dl dd.pfEmail ul li .liWord img{ margin-right:5px;}
.passFill dl dd.pfEmail ul li.liAtion{ height:16px; overflow:hidden;}
.passFill dl dd.pfEmail ul li.liBtn{ height:75px;}
.passFill dl dd.pfEmail ul li.liBtn a{ width:176px; height:38px; background:url(../images/button-02.jpg) no-repeat; display:inline-block;}
.passFill dl dd.pfEmail ul li.liBtn a:hover{ background:url(../images/button-02-on.jpg) no-repeat;}
.passFill dl dd.pfEmail ul li .inputL{ width:192px; height:24px; border:1px solid #C3C3C3; line-height:24px; text-indent:5px;}
.passFill dl dd.pfEmail ul li .inputS{ width:66px; height:20px; border:1px solid #C3C3C3; line-height:24px; text-indent:5px; margin:2px 0 0 5px;}
.passFill dl dd.pfService{ padding:24px 0 0 19px;}
.passFill dl dd.pfService p{ height:35px;}
.passFill dl dd.pfService p.pImg{ position:relative; top:-6px;}
.passFill dl dd.pfService p img{ position:relative; top:6px;}

.regLink{ height:45px; text-align:center;}

.emailReg{ width:820px; margin:0 auto;}
.emailReg .erTop{ height:143px;}
.emailReg .erCen{ height:415px; padding:45px 0 0 50px; background:url(../images/regBg-02.jpg) no-repeat;}
.emailReg .erCen ul li{ height:40px; position:relative; z-index:1;}
.emailReg .erCen ul li.liFir{ z-index:10;}
.emailReg .erCen ul li.liOther{ height:16px; overflow:hidden;}
.emailReg .erCen ul li.liAll input{ position:relative; top:2px;}
.emailReg .erCen ul li.liNews{ height:24px; line-height:24px; padding-left:73px; overflow:hidden; position:relative; top:-4px;}
.emailReg .erCen ul li.liNews img{ position:relative; top:4px;}
.emailReg .erCen ul li.liSel{ height:25px;}
.emailReg .erCen ul li .liName{ width:73px; float:left; font-size:14px; padding-top:3px;}
.emailReg .erCen ul li .liFill .inputW{ width:66px; height:20px; border:1px solid #DBDFE6; margin:2px 0 0 10px;}
.emailReg .erCen ul li .liFill .imgIcon{ position:relative; top:2px; margin:0 5px 0 15px;}
.emailReg .erCen ul li .inputFill{ width:220px; height:36px; line-height:36px; text-indent:10px; border:0; background:url(../images/inputBg.jpg) no-repeat; float:left; position:relative; top:-8px; z-index:1;}
.emailReg .erCen ul li .inputSel{ width:220px; height:36px; line-height:36px; text-indent:10px; border:0; background:url(../images/inputBgSel.jpg) no-repeat; float:left; position:relative; top:-8px;}
.emailReg .erCen ul li .liDes{ color:#E03770; float:left; padding:3px 0 0 5px;}
.emailReg .erCen ul li .liDesO{ color:#666; float:left; padding:3px 0 0 5px;}
.emailReg .erCen ul li .imgWr{ position:relative; top:2px;}
.emailReg .erCen ul li.liBtn a{ width:215px; height:45px; background:url(../images/button-03.jpg) no-repeat; display:inline-block;}
.emailReg .erCen ul li.liBtn a:hover{ background:url(../images/button-03-on.jpg) no-repeat;}
.domainSelector{ width:210px; border:1px solid #ccc; position:absolute; margin-left:5px; left:75px; top:24px;}*/