﻿@model MachineActionDTO
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>器械动作信息</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/machineaction" class="ajax">器械动作管理</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="panel blank-panel">

            <div class="panel-heading">
                <div class="panel-options">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">基础信息</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">名称：</label>
                                <p class="form-control-static">@Model.data_machine_action_title</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">对应器械：</label>
                                <p class="form-control-static">@Model.data_machine_name</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">备注：</label>
                                <p class="form-control-static">@Model.data_machine_action_remark</p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">图片：</label>
                                <p class="form-control-static"><img style="width: 200px; height: 200px" title="pic" src="@Model.data_machine_action_path" /></p>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">状态：</label>
                                <p class="form-control-static">@Model.data_machine_action_status_text</p>
                            </div>
                        </form>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="grid"></div>
                            </div>
                            <div id="window" style="margin:5px">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>



</div>
<script type="text/javascript">
    $(document).ready(function () {
        data_machine.init(@Model.data_machine_id);
    });
</script>
