﻿@model MachineActionDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>器械动作信息</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/machineaction" class="ajax">器械动作管理</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>课程</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    { 
                        if (Model.data_machine_action_path == "")
                        {
                            Model.data_machine_action_path = "/content/img/no-pic.png";
                        }                                          
                        
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_machine_action_id)

                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_machine_action_title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_machine_action_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">对应器械</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_machine_id, (IEnumerable<SelectListItem>)ViewBag.Machines)
                                @Html.ValidationMessageFor(m => m.data_machine_id, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextAreaFor(m => m.data_machine_action_remark, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="margin-top: 32px;">图片</label>
                            <div class="col-sm-7 col-md-3" style="margin-top: 32px;">
                                @Html.HiddenFor(m => m.data_machine_action_path, new { @id = "data_machine_action_path" })
                                <input id="data_machine_action_path_upload" type="file" value="" name="data_machine_action_path" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <a href="javascript:void(0)" onclick="uploadFile('data_machine_action_path_upload', 'data_machine_action', 'data_machine_action_path_upload_hint', 'data_machine_action_path')">上传</a>
                                <span id="data_machine_action_path_upload_hint"></span>
                                <img id="upload_img_sample" style="width: 100px; height: 100px" src="@Model.data_machine_action_path" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_machine_action_status, (IEnumerable<SelectListItem>)ViewBag.Status)
                                @Html.ValidationMessageFor(m => m.data_machine_action_status, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>   
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        data_machine_action.initForm();
    });

    //to-do: will write a jq component to replace this 
    //adam 2015-08-05
    function uploadFile(id, fileNamePrefix, hint, filePath) {
        //alert(filePath);
        var file = $("#" + id);
        var form = $("<form method='POST' action='/FileUpload'><input type='hidden' name='prefix' value='" + fileNamePrefix + "'></form>");
        form.appendTo(file.parent());
        file.appendTo(form);
        $("#" + hint).text("上传中 ...");
        var options = {
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.filesaved) {
                    $("#" + hint).text("");
                    $("#" + filePath).val(data.filepath);
                    $("#upload_img_sample").attr("src", data.filepath).show();
                } else {
                    $("#" + hint).text("上传失败");
                }
                
                file.appendTo(form.parent());
                form.remove();
            }
        };

        form.ajaxForm(options);

        form.submit();
    }
</script>