﻿@model IndexGradeDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>成绩</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>成绩</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>指标</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_index_grade_id)


                        <div class="form-group">
                            <label class="col-sm-2 control-label">成绩</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_index_grade1, (IEnumerable<SelectListItem>)ViewBag.Status)
                                @Html.ValidationMessageFor(m => m.data_index_grade1_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">最低年龄</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_grade_age_min, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_grade_age_min, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">最高年龄</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_grade_age_max, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_grade_age_max, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">最低成绩</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_grade_point_min, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_grade_point_min, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">最高成绩</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_grade_point_max, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_grade_point_max, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_index_grade_comments, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_index_grade_comments, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {
            dataindexgrade.initForm();
        })

</script>