﻿@model MemberCheckMVCModel

<div class="ibox-content">
    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.check_id)

        var TypeList = ((IEnumerable<SelectListItem>)ViewBag.KnowledgeTypes).ToList();
        TypeList.Insert(0, new SelectListItem { Text = "", Value = "" });
        
        <div class="form-group">
            <label class="col-sm-2 control-label">知识类型</label>
            <div class="col-sm-2 col-md-2">
                @Html.DropDownList("knowledgeType", TypeList, new { @style="width: 120%"})
            </div>
            <label class="col-sm-1 control-label">关键字</label>
            <div class="col-sm-4 col-md-4">
                @Html.TextBox("knowledgeKeyword", "") <a href="javascript:void(0)" style="margin-left: 10px" id="filter_btn">过滤</a>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">运动建议</label>
            <div class="col-sm-10 col-md-8">
                @Html.DropDownList("data_templates", (IEnumerable<SelectListItem>)ViewBag.Knowledges)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">是否完成</label>
            <div class="col-sm-10 col-md-6">
                @Html.CheckBoxFor(m => m.IsFinished, new { @class = "" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">健身建议</label>
            <div class="col-sm-10 col-md-8">
                @Html.TextAreaFor(m => m.CheckReport, new { @class = "form-control", @column = 40 })
                @Html.ValidationMessageFor(m => m.CheckReport, null, new { @class = "help-block m-b-none text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-8">
                <button class="btn btn-primary" type="submit">确定</button>
            </div>
        </div>


    }

</div>

<script>
    $(document).ready(function () {

        //健身建议，多选
        var dataTemplates = $("#data_templates").kendoMultiSelect({ change: ontemplatechange }).data("kendoMultiSelect");
        //初始化什么都不选择。
        dataTemplates.value("");

        $("#CheckReport").kendoEditor(
            {
                resizable: {
                    content: true,
                    toolbar: true
                }
            }
         );

        function ontemplatechange() {
            //  alert(dataTemplates.value());
            var Ids = dataTemplates.value();
            $.ajax({
                url: "/Member/GetKnowledgeComments?Ids=" + Ids,
                success: function (data) {

                    var editor = $("#CheckReport").data("kendoEditor");
                    editor.value(data);
                }
            });
        }

        $("#knowledgeType").kendoComboBox();
        $("#filter_btn").click(filterKnowledge);
        function filterKnowledge() {
            var type = $("#knowledgeType").val();
            var keyword = $("#knowledgeKeyword").val();

            $.ajax({
                url: "/DataKnowledge/GetKnowledgeListByCondi?data_knowledge_type=" + type + "&data_knowledge_keyword=" + keyword,
                success: function (data) {
                    //console.log(data);
                    var dataSource = new kendo.data.DataSource({
                        data: data
                    });
                    dataTemplates.setDataSource(dataSource);
                    dataTemplates.value("");
                }
            });
        }
    });

</script>
