﻿@model MemberIndexModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>会员信息</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>会员</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <a href="javascript:datamember.assign_secratry()" class=" btn btn-primary"><i class="fa fa-male"></i>分配秘书</a>
            <a href="javascript:datamember.unassign_secratry()" class=" btn btn-primary"><i class="fa fa-minus"></i>解除分配</a>
            <a href="javascript:datamember.viewrow()" class=" btn btn-primary"><i class="fa fa-user"></i>查看资料</a>
            <a href="javascript:datamember.viewbodyreport()" class=" btn btn-primary"><i class="fa fa-file-o"></i>体测报告</a>


        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="ibox-content m-b-sm border-bottom">
        <div class="btn-group">
            <a href="/member/view" class="ajax btn btn-primary"><i class="fa fa-plus"></i> New</a>

        </div>
    </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div id="grid_member"></div>
        </div>
    </div>
</div>

<div id="window" class="row">
</div>
    <script type="text/javascript">
        $(document).ready(function () {


                datamember.init('@Model.userId');


        });
    </script>
