﻿@model SelectMemberModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>选择会员</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>选择用户</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                           @Html.AntiForgeryToken()
                           @Html.HiddenFor(m => m.TaskId)    
                          @Html.HiddenFor(m => m.linktype)                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">会员</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.data_member_id, (IEnumerable<SelectListItem>)ViewBag.Members)
                                @Html.ValidationMessageFor(m => m.data_member_id, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">下一步</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#data_member_id").kendoComboBox();
    });
</script>
