﻿@model MemberCheckDataReport

<h1 class="text-center">体测报告</h1>
<div><strong>姓名：</strong>@Model.data_member_name   <strong>性别：</strong>@Model.data_sex_name <strong>年龄:</strong> @Model.age</div>
<div><strong>总分：</strong>@Model.sum   </div>

<p class="text-danger">没有成绩的检测指标将不会显示.</p>
<table class="table">
    <thead>
        <tr>
            <th>项目</th>
            <th>成绩</th>
            <th>继续改善</th>
            <th>马上行动</th>
            <th>保持运动</th>
            <th>运动能手</th>
            <th>运动健将</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.Results)
        {
            <tr>
                <td>@result.data_base_index_title   @result.data_base_index_unit</td>
                <td>@result.data_member_value</td>
                <td colspan="5">
                    <div class="progress">
                        <div style="width: @(int.Parse(result.data_body_label_text)*100/5)%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="@result.data_body_label_text" role="progressbar" class="progress-bar">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                    </div>
                    

                </td>

            </tr>

        }
    </tbody>
</table>



