﻿@model dynamic
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>会员信息</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li >
                <a href="/member" class="ajax">会员</a>
            </li>
            <li class="active">
                <strong>@Model.data_member_name 详细资料</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>



<div class="row" id="memberTab">
        <ul>
            <li class="k-state-active">基础信息</li>
            <li class="">体测数据</li>
            <li class="">课程</li>
            <li class="">健康档案</li>
            <li class="">调查问卷</li>
            <li class="">个性化处方</li>
            <li class="">体测报告</li>
        </ul>

        <div id="tab-1">
          
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-10 col-md-3">
                            <p class="form-control-static">@Model.data_member_name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">登录名：</label>
                        <div class="col-sm-10 col-md-3">
                            <p class="form-control-static">@Model.data_member_loginname</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">移动电话：</label>
                        <div class="col-sm-10 col-md-3">
                            <p class="form-control-static">@Model.data_member_mobile</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别：</label>
                        <div class="col-sm-10 col-md-3">
                            <p class="form-control-static">@Model.data_member_sex</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">生日：</label>
                        <div class="col-sm-10 col-md-3">
                            <p class="form-control-static">@Model.data_member_birthday</p>
                        </div>
                    </div>
                </form>
         
        </div>
        <div id="tab-2">

               <div id="grdservice"></div>
                <div id="window">
                </div>
            </div>
     
        <div id="tab-3"></div>
        <div id="tab-4">
            <div id="grid_member_file"></div>
                <div id="grdservice"></div>
        </div>
     
        <div id="tab-5"></div>
        <div id="tab-6">
            <div id="grid_member_prescription"></div>
        </div>


        <div id="tab-7">
            <div id="grid_body_report"></div>
            @*<div id="body_reportwin"></div>*@
        </div>


    <div id="window">
    </div>



</div>

 





<script type="text/javascript">
    $(document).ready(function () {

        $("#memberTab").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });

        //会员体测数据
        datamemberrecords.init(@Model.data_member_id);
        //会员健康档案
        datamemberfile.init(@Model.data_member_id);
        //added by adam 2015-08-27
        data_prescription.init("grid_member_prescription", @Model.data_member_id);

        datamemberbodyreport.init(@Model.data_member_id);
    });
</script>


<style>
    .k-window div.k-window-content {
        overflow: hidden;
    }
</style>