﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>数据上传记录</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                
                <strong>数据上传记录</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <h2>相关操作</h2>
        <a href="javascript:datamemberrecords.createreport()" class=" btn btn-primary"><i class="fa fa-plus"></i> 健身建议</a>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div id="grdservice"></div>
            <div id="window" class="row" style="margin:5px">
            </div>
            <div id="checkwindow" class="row" style="margin:5px">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        datamemberrecords.init(0);
    });
</script>


