﻿@model MemberDTO
<!-- added by adam 2015-08-06 -->

<div>
    <h5>您将为下列会员指派秘书</h5>
    <div id="grdcheckdata" class="col-sm-14">
        @foreach (var m in (IList<PropertyHub.Data.data_member>)ViewBag.SelectedMembers)
        {
            <div class="col-sm-6">
                <label class="col-sm-1 control-label">id: </label>
                <div class="col-sm-1 col-md-1">
                    @m.data_member_id
                </div>
                <label class="col-sm-2 control-label">姓名： </label>
                <div class="col-sm-2 col-md-2">
                    @m.data_member_name
                </div>
            </div>
        }
    </div>
</div>

<div>
    @using (Ajax.BeginForm("AssignSecratry", "Member", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessPost" }, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <label class="col-sm-2">可选秘书</label>
        <div class="col-sm-6 col-md-6">
            @Html.DropDownList("selected_secratry", (IEnumerable<SelectListItem>)ViewBag.Secratries, new { @id = "selected_secratry" })
            @Html.Hidden("selected_members", (String)ViewBag.SelectedMembersID)
            @Html.Hidden("selected_secratry_name")
        </div>
        <div class="col-sm-4 col-md-2">
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    }
</div>



<script type="text/javascript">
    $(document).ready(function () {
        
        $("#selected_secratry").kendoComboBox({ change: onchange });
        datamember.initForm();


    

        function onchange() {

            var combobox = $("#selected_secratry").data("kendoComboBox");
            //   alert(combobox.text());
            //   $(this).siblings("[name='selected_secratry_name']").val(combobox.text());
            $("#selected_secratry_name").val(combobox.text());
        }

        $("#selected_secratry").change(function () {
            $(this).siblings("[name='selected_secratry_name']").val($(this).find("option:selected").text());
        }).trigger("change");
    });

    function OnSuccessPost(data, status, body) {
        if (!data.op) {
            alert(data.errMessage);
        } else {
            $("span.k-i-close").trigger("click");

            datamember.assign_secratry_success($("#selected_secratry option:selected").text());
        }
    }
</script>


