﻿@model MemberCheckDataDTO

        <div id="grdcheckdata"></div>
<script type="text/javascript">
    $(document).ready(function () {

     
        datamembercheckdata.init(@Model.data_member_checkrecord_id);
    });
</script>

