﻿@model AnytimeFriendDTO

@{
    ViewBag.Title = "教练注册";
    Layout = "~/Views/Shared/_Layout_Nomenu.cshtml";
}

<legend>智慧教练注册</legend>
<div class="main">
        @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
        {
            <div id="legend" class="">

            </div>
            @*<fieldset>*@

                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.data_anytime_friend_id)

                <div class="form-group">
                    <label class="col-md-4 control-label">姓名</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.data_name, new { @class = "form-control", @placeholder = "姓名" })
                        @Html.ValidationMessageFor(m => m.data_name, null, new { @class = "m-b-none text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">年龄</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.data_age, new { @class = "form-control", @placeholder = "年龄" })
                        @Html.ValidationMessageFor(m => m.data_age, null, new { @class = "m-b-none text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*<label class="col-md-4 control-label">性别</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.data_sex_Id, (IEnumerable<SelectListItem>)ViewBag.Sex, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.data_sex_title, null, new { @class = "m-b-none text-danger" })
                        </div>*@
                    <label class="col-md-4 control-label" for="radios">性别</label>
                    <div class="col-md-4">
                        <label class="radio-inline" for="radios-0">
                            <input type="radio" name="data_sex_Id" id="radios-0" value="1" checked="checked">
                            男
                        </label>
                        <label class="radio-inline" for="radios-1">
                            <input type="radio" name="data_sex_Id" id="radios-1" value="2">
                            女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">省</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.data_province_Id, (IEnumerable<SelectListItem>)ViewBag.Provice, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.data_province_title, null, new { @class = "m-b-none text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">市</label>
                    <div class="col-md-4">
                        @*<select id="data_city_Id" name="data_city_Id" class="form-control">
                                <option value="">选择市</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.data_city_title, null, new { @class = "m-b-none text-danger" })*@
                        @Html.DropDownListFor(m => m.data_city_Id, (IEnumerable<SelectListItem>)ViewBag.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.data_city_title, null, new { @class = "m-b-none text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">区</label>
                    <div class="col-md-4">
                        @*<select id="data_area_Id" name="data_area_Id" class="form-control">
                                <option value="">选择地区</option>
                            </select>*@
                        @*@Html.ValidationMessageFor(m => m.data_area_title, null, new { @class = "m-b-none text-danger" })*@
                        @Html.DropDownListFor(m => m.data_area_Id, (IEnumerable<SelectListItem>)ViewBag.Area, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.data_area_title, null, new { @class = "m-b-none text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">手机号码</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.data_Ip, new { @class = "form-control", @placeholder = "手机号码" })
                        @Html.ValidationMessageFor(m => m.data_Ip, null, new { @class = "m-b-none text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="col-md-4 control-label">健身专业</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.data_profession, new { @class = "form-control", @placeholder = "健身专业" })
                            @Html.ValidationMessageFor(m => m.data_profession, null, new { @class = "m-b-none text-danger" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <label class="col-md-4 control-label">健身专业</label>
                    <div class="col-md-4">
                        @*<select id="data_area_Id" name="data_area_Id" class="form-control">
                                <option value="">选择地区</option>
                            </select>*@
                        @*@Html.ValidationMessageFor(m => m.data_area_title, null, new { @class = "m-b-none text-danger" })*@
                        @Html.DropDownListFor(m => m.data_profession, new SelectList(new[] { "职业经理人", "私人教练", "团操教练", "国职教练", "社会指导员" }, "职业经理人"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.data_profession, null, new { @class = "m-b-none text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">从业经历</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.data_comments, new { @class = "form-control", @placeholder = "从业经历" })
                        @Html.ValidationMessageFor(m => m.data_comments, null, new { @class = "help-block m-b-none text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        @Html.CheckBoxFor(m => m.IsChecked)
                        我认真阅读并接受<a href="~/AnytimeFriend/Agreement">用户协议</a>。
                        @Html.ValidationMessageFor(m => m.IsChecked, null, new { @class = "m-b-none text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                        <button class="btn btn-primary" type="submit" onclick="agree();">保存</button>
                    </div>
                </div>
            @*</fieldset>*@
        }
</div>
    <script type="text/javascript">

        $(function () {

            //初始化
            init();
            //点击客户触发
            $('#data_province_Id').change(function () {
                changeProvince();
                $('#data_area_Id').empty();
                $('#data_area_Id').append($('<option></option>').val('').text('选择地区'));
            });

            $('#data_city_Id').change(function () {
                changeCity();
            });

            $("#data_age").bind("keyup", function () {
                $(this).val($(this).val().replace(/[\D]/g, ""));
            });

            //$.validator.unobtrusive.parse("form");



        });






        function init() {
            //$('#ButtonSubmit').hide();
            //alert("init");
            //   $('#data_city_Id').attr("disabled", "true");
            //   $('#data_area_Id').attr("disabled", "true");
            //$('#Products').attr("disabled", "true");
        }

        //点击客户事件
        function changeProvince() {
            var selectedValue = $('#data_province_Id option:selected').val();
            //alert(selectedValue);
            if ($.trim(selectedValue).length > 0) {
                getCity(selectedValue);
            }
        }

        function getCity(ProvinceID) {
            $.ajax({
                url: '@Url.Action("GetCity", "AnytimeFriend")',
                data: { ID: ProvinceID },
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $('#data_city_Id').removeAttr("disabled");
                        $('#data_city_Id').empty()
                        $('#data_city_Id').append($('<option></option>').val('').text('选择城市'));
                        $.each(data, function (i, item) {
                            $('#data_city_Id').append($('<option></option>').val(item.Value).text(item.Text));
                        });
                    }
                }
            });
        }
        function changeCity() {
            var selectedValue = $('#data_city_Id option:selected').val();
            //alert(selectedValue);
            if ($.trim(selectedValue).length > 0) {
                getArea(selectedValue);
            }
        }

        function getArea(CityID) {
            $.ajax({
                url: '@Url.Action("GetArea", "AnytimeFriend")',
                data: { ID: CityID },
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $('#data_area_Id').removeAttr("disabled");
                        $('#data_area_Id').empty();
                        $('#data_area_Id').append($('<option></option>').val('').text('选择地区'));
                        $.each(data, function (i, item) {
                            $('#data_area_Id').append($('<option></option>').val(item.Value).text(item.Text));
                        });
                    }
                }
            });
        }
        //点击客户触发
        //$(document).ready(function(){
        //    alert("test1");
        //  //  $('#data_province_Id').on('change', function (event) {
        //    $('#data_province_Id').change (function(){
        //    alert("test");
        //        var args = event.args;
        //        if (args) {
        //            // index represents the item's index.
        //            var index = args.index;
        //            var item = args.item;
        //            // get item's label and value.
        //            var label = item.label;
        //            var value = item.value;
        //        }
        //    });
        //});
    </script>

