﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_Nomenu.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content text-center p-md">
                <h3>恭喜!信息提交成功,我们会尽快联系！</h3>
            </div>
        </div>
    </div>
</div>