﻿@model PropertyHub.Services.CheckReportModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>体质检测评估报告</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li >
                <a href="/member" class="ajax">会员</a>
            </li>
            <li class="active">
                <strong>@Model.Name 体质检测评估报告</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<style>
    .k-window div.k-window-content {
        overflow: hidden;
    }

    /*#CheckReportTabs input {
        border: none;
        border-bottom: solid 1px black;
    }*/
</style>
@using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
{
   var levelList = new List<SelectListItem>
                       {
                           new SelectListItem {Text = "急需改善", Value = "急需改善"},
                           new SelectListItem {Text = "马上行动", Value = "马上行动"},
                           new SelectListItem {Text = "保持运动", Value = "保持运动"},
                           new SelectListItem {Text = "运动能手", Value = "运动能手"},
                           new SelectListItem {Text = "运动健将", Value = "运动健将"}
                       };
   var typeList = ((IEnumerable<SelectListItem>)ViewBag.KnowledgeTypes).ToList();
   typeList.Insert(0, new SelectListItem { Text = "", Value = "" });

   var levelList2 = new List<SelectListItem>
                       {
                           new SelectListItem {Text = "是", Value = "0"},
                           new SelectListItem {Text = "否", Value = "1"},
                        };
   var docTemplate_List = new List<SelectListItem>
                       {
                           new SelectListItem {Text = "标准模板", Value = "标准模板"},
                        };


    <div class="ibox-content">
        <div class="form-group">
            <label class="col-sm-4 control-label">生成模板选择</label>
            <div class="col-sm-10 col-md-2">
                @Html.DropDownListFor(m => m.Doc_Template, docTemplate_List)
                @Html.ValidationMessageFor(m => m.Doc_Template, null, new { @class = "help-block m-b-none text-danger" })
            </div>
            <div class="col-sm-10 col-md-2">
                <button class="btn  btn-primary" type="submit">确定</button>
            </div>
        </div>
        @*<div class="content">
             <button class="btn btn-success" type="submit">确定</button>
         </div>*@
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.memberId)
    @Html.HiddenFor(m => m.LoginName)
        <div class="row" id="CheckReportTabs">
        <ul>
            <li class="k-state-active">健康状况调查表</li>
            <li class="">生活方式调查表</li>
            <li class="">运动风险调查表</li>
            <li class="">运动习惯调查表</li>
            <li class="">体质测试报告</li>
            @*<li class="">体质测试报告解读</li>
            <li class="">体成分报告解读</li>
            <li class="">体测项目解读</li>
            <li class="">推荐食谱</li>
            <li class="">饮食建议</li>
            <li class="">运动处方1</li>
            <li class="">运动处方2</li>*@
            <li class="">运动处方</li>
        </ul>
        <div id="tab-1" style="overflow-y: scroll">
            <form class="form-horizontal" style="padding-top: 20px;">
                <div>基本信息</div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">姓名：</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                    <label class="col-sm-1 control-label">性别：</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Sex)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">年龄：</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Age)
                    </div>
                    <label class="col-sm-1 control-label">电话：</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Phone)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">民族：</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Nation)
                    </div>
                    <label class="col-sm-1 control-label">职业：</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Job)
                    </div>
                </div>
                <hr />
                <div>既往史</div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">疾病：</label>
                    <div class="col-sm-2 col-md-2">
                        无 @Html.CheckBoxFor(m => m.isIll)
                    </div>
                    <label class="col-sm-1 control-label">情况说明</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextAreaFor(m => m.illName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">手术：</label>
                    <div class="col-sm-2 col-md-2">
                        无 @Html.CheckBoxFor(m => m.isSurgery)
                    </div>
                    <label class="col-sm-1 control-label">情况说明</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextAreaFor(m => m.surgeryName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">外伤：</label>
                    <div class="col-sm-2 col-md-2">
                        无 @Html.CheckBoxFor(m => m.isWound)
                    </div>
                    <label class="col-sm-1 control-label">情况说明</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextAreaFor(m => m.woundName)
                    </div>
  
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">输血：</label>
                    <div class="col-sm-2 col-md-2">
                        无 @Html.CheckBoxFor(m => m.isBlood)
                    </div>
                    <label class="col-sm-1 control-label">情况说明</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextAreaFor(m => m.bloodName)
                    </div>
            
                </div>
                <hr />
                <div>家族史</div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">疾病 1：</label>
                    <div class="col-sm-2 col-md-2">
                        无 @Html.CheckBoxFor(m =>m.isIll_H1)
                    </div>
                    <label class="col-sm-1 control-label">名称</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.ill_H1Name)
                    </div>
                    <label class="col-sm-1 control-label">关系</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.ill_H1Relation)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">疾病 2：</label>
                    <div class="col-sm-2 col-md-2">
                        无 @Html.CheckBoxFor(m => m.isIll_H2)
                    </div>
                    <label class="col-sm-1 control-label">名称</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.ill_H2Name)
                    </div>
                    <label class="col-sm-1 control-label">关系</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.ill_H2Relation)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">疾病 3：</label>
                    <div class="col-sm-2 col-md-2">
                        无 @Html.CheckBoxFor(m => m.isIll_H3)
                    </div>
                    <label class="col-sm-1 control-label">名称</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.ill_H3Name)
                    </div>
                    <label class="col-sm-1 control-label">关系</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.ill_H3Relation)
                    </div>
                </div>
                <hr />

           </form>     
        </div>
            <div id="tab-2" style="overflow-y: scroll">
                <form class="form-horizontal" style="padding-top: 20px;">
              
                    <div class="form-group">
                        <label class="col-sm-1 control-label">饮食习惯：</label>
                        <div class="col-sm-8 col-md-8">
                            荤素均衡 @Html.CheckBoxFor(m => m.isDiet1) &nbsp;&nbsp;
                            荤食为主 @Html.CheckBoxFor(m => m.isDiet2) &nbsp;&nbsp;
                            素食为主 @Html.CheckBoxFor(m => m.isDiet3) &nbsp;&nbsp;
                            嗜盐 @Html.CheckBoxFor(m => m.isDiet4) &nbsp;&nbsp;
                            嗜油 @Html.CheckBoxFor(m => m.isDiet5) &nbsp;&nbsp;
                            嗜糖 @Html.CheckBoxFor(m => m.isDiet6) &nbsp; &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">吸烟情况：</label>
                        <div class="col-sm-2 col-md-3">
                    
                            频率&nbsp;&nbsp; @Html.DropDownListFor(m => m.isSmoking, (IEnumerable<SelectListItem>)ViewBag.SmokingType)
                            @Html.ValidationMessageFor(m => m.isSmoking, null, new { @class = "help-block m-b-none text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">&nbsp;</label>
                        <div class="col-sm-2 col-md-2">
                            烟龄&nbsp;&nbsp; @Html.TextBoxFor(m => m.smokeAge) 年
                        </div>
                        <div class="col-sm-2 col-md-3">
                            吸烟量&nbsp;&nbsp; @Html.TextBoxFor(m => m.smokeAmount) / 天
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">饮酒情况：</label>
                        <div class="col-sm-2 col-md-10">
            

                            频率&nbsp;&nbsp; @Html.DropDownListFor(m => m.isDrinking, (IEnumerable<SelectListItem>)ViewBag.DrinkingType)
                            @Html.ValidationMessageFor(m => m.isSmoking, null, new { @class = "help-block m-b-none text-danger" })

                        </div>
                        <label class="col-sm-1 control-label">&nbsp;</label>
                        <div class="col-sm-2 col-md-10">
                            饮酒量  每次平均 @Html.TextBoxFor(m => m.drinkingAmount1) 两 / @Html.TextBoxFor(m => m.drinkingAmount2) 瓶
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">戒酒: </label>
                        <div class="col-sm-2 col-md-10">
                            戒酒 &nbsp;&nbsp; @Html.DropDownListFor(m => m.isDryOut, levelList2)
                            @Html.ValidationMessageFor(m => m.isSmoking, null, new { @class = "help-block m-b-none text-danger" })
               
                            
                        </div>
                        <label class="col-sm-1 control-label">&nbsp;</label>
                        <div class="col-sm-2 col-md-10">
                            戒酒时间 &nbsp;&nbsp;@Html.TextBoxFor(m => m.dryOutDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">种类</label>
                        <div class="col-sm-4 col-md-4">
                            白酒 @Html.CheckBoxFor(m => m.isWine1)&nbsp; &nbsp;
                            啤酒 @Html.CheckBoxFor(m => m.isWine2)&nbsp; &nbsp;
                            红酒 @Html.CheckBoxFor(m => m.isWine3)&nbsp; &nbsp;
                            黄酒 @Html.CheckBoxFor(m => m.isWine4)&nbsp; &nbsp;
                            其他 @Html.TextBoxFor(m => m.otherWine)
                        </div>
                    </div>
                </form>
            </div> 
        <div id="tab-3" style="overflow-y: scroll">
            <form class="form-horizontal" style="padding-top: 20px;">
                
                <div class="form-group">
                    <label class="col-sm-3">您是否有心脏方面的问题？</label>
                    <div class="col-sm-2 col-md-2">
                        是 @Html.CheckBoxFor(m => m.isQ1) &nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">要进行身体活动时是否需经医生建议？</label>
                    <div class="col-sm-2 col-md-2">
                        是 @Html.CheckBoxFor(m => m.isQ2) &nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">当您从事身体活动时，您的胸腔是否感到不舒服？</label>
                    <div class="col-sm-2 col-md-2">
                        是 @Html.CheckBoxFor(m => m.isQ3) &nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">近几个月内，当您不进行身体活动时是否有过胸口疼痛？</label>
                    <div class="col-sm-2 col-md-2">
                        是 @Html.CheckBoxFor(m => m.isQ4) &nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">当您头晕时，是否身体有不平衡感或曾有晕倒现象？</label>
                    <div class="col-sm-2 col-md-2">
                        是 @Html.CheckBoxFor(m => m.isQ5) &nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">您的医生在近期给您开过有关心血管疾病的药物处方吗？</label>
                    <div class="col-sm-2 col-md-2">
                        是 @Html.CheckBoxFor(m => m.isQ6) &nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">您知道任何其他您不能参加身体锻炼的原因吗？</label>
                    <div class="col-sm-2 col-md-2">
                        是 @Html.CheckBoxFor(m => m.isQ7) &nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 ">当您从事与日常活动不同的身体活动时，您的关节或骨头是否有不舒服感？</label>
                    <div class="col-sm-2 col-md-2">
                        是 @Html.CheckBoxFor(m => m.isQ8) &nbsp;&nbsp;
                    </div>
                </div>
                <hr />
                
            </form>
        </div>
            <div id="tab-4" style="overflow-y: scroll">
                <form class="form-horizontal" style="padding-top: 20px;">
               
                    <div class="form-group">
                        <label class="col-sm-1 control-label">运动历程</label>
                        <div class="col-sm-2 col-md-10">
                             @Html.TextBoxFor(m => m.exeYears) 年
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">每次运动时间</label>
 
                        <div class="col-sm-2 col-md-10">
                             @Html.TextBoxFor(m => m.exeMinites) 分钟
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">运动频率 </label>
                        <div class="col-sm-2 col-md-6">
                            @Html.DropDownListFor(m => m.isRate, (IEnumerable<SelectListItem>)ViewBag.ExerciseFrequency)
                            @Html.ValidationMessageFor(m => m.isRate, null, new { @class = "help-block m-b-none text-danger" })
                            @*3次以上/周  @Html.CheckBoxFor(m => m.isRate1) &nbsp;&nbsp;
                            1-2次/周  @Html.CheckBoxFor(m => m.isRate2) &nbsp;&nbsp;
                            偶尔  @Html.CheckBoxFor(m => m.isRate3) &nbsp;&nbsp;
                            不锻炼 @Html.CheckBoxFor(m => m.isRate4) &nbsp;&nbsp;*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">运动时间段</label>
                        <div class="col-sm-2 col-md-6">

                            早晨  @Html.CheckBoxFor(m => m.isTime1) &nbsp;&nbsp;
                            上午  @Html.CheckBoxFor(m => m.isTime2) &nbsp;&nbsp;
                            下午  @Html.CheckBoxFor(m => m.isTime3) &nbsp;&nbsp;
                            晚上 @Html.CheckBoxFor(m => m.isTime4) &nbsp;&nbsp;
                            不固定 @Html.CheckBoxFor(m => m.isTime5) &nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">运动场所</label>
                        <div class="col-sm-6 col-md-6">

                            健身房  @Html.CheckBoxFor(m => m.isPlace1) &nbsp;&nbsp;
                            体育馆  @Html.CheckBoxFor(m => m.isPlace2) &nbsp;&nbsp;
                            户外  @Html.CheckBoxFor(m => m.isPlace3) &nbsp;&nbsp;
                            室内 @Html.CheckBoxFor(m => m.isPlace4) &nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">喜爱的运动项目</label>
                        <div class="col-sm-6 col-md-6">
                            @Html.TextBoxFor(m => m.favSports, new { @style = "width: 80%" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-sm-1 control-label">运动风险评价</label>
                        <div class="col-sm-6 col-md-6">
                            @Html.TextAreaFor(m => m.riskEstimate, new { @style = "width: 100%; height: 200px; overflow: scroll" })
                        </div>
                    </div>
                </form>
            </div>     
        <div id="tab-5">
            <form class="form-horizontal" style="padding-top: 20px; padding-bottom: 20px; ">
            
                <div class="form-group">
                    <label class="col-sm-1 control-label">姓名</label>
                    <div class="col-sm-2 col-md-1">
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                    <label class="col-sm-1 control-label">性别</label>
                    <div class="col-sm-2 col-md-1">
                        @Html.TextBoxFor(m => m.Sex)
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">体重 kg
                    </div>

                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_1)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_1, levelList)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">握力 kg
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_2)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_2, levelList)
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">肺活量 ml
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_3)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                       @Html.DropDownListFor(m => m.Level_3, levelList)
                    </div>
                </div>

   
                <div class="form-group">
                    <label class="col-sm-1 control-label">项目 </label>
                    <div class="col-sm-2 col-md-1">俯卧撑  次
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_4)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_4, levelList)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">仰卧起坐 次/分
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                   <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_5)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_5, levelList)
                    </div>
                </div>
  
                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">台阶试验
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_6)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_6, levelList)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">坐位体前屈 cm
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_7)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_7, levelList)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">闭眼单脚站立 s
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_8)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_8, levelList)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">纵跳 cm
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_9)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_9, levelList)
                    </div>
                </div>
       

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">
                        选择反应时 s
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_10)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_10, levelList)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">
                        心率 次/分
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                       @Html.TextBoxFor(m => m.Score_11)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_11, levelList)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">
                        脂肪率 %
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Score_12)
                    </div>
                    <label class="col-sm-1 control-label">级别</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownListFor(m => m.Level_12, levelList)
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">
                        BMI
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.BMI)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">
                        血压	收缩压
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.BloodPress_1)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">
                        舒张压
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.BloodPress_2)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">项目</label>
                    <div class="col-sm-2 col-md-1">
                        腰臀比
                    </div>
                    <label class="col-sm-1 control-label">成绩</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.TextBoxFor(m => m.Rate)
                    </div>
    
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">按照国民体质检测评定方法与标准，您的综合评级</label>
                    <div class="col-sm-1 col-md-1">
                        @Html.TextBoxFor(m => m.TotalRate)
                    </div>
                </div>

            </form>
        </div>

            @*<div id="tab-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">知识类型</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownList("knowledgeType", typeList)
                    </div>
                    <label class="col-sm-1 control-label">关键字</label>
                    <div class="col-sm-3 col-md-3">
                        @Html.TextBox("knowledgeKeyword", "")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">选择模板</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.DropDownList("data_templates_1", (IEnumerable<SelectListItem>)ViewBag.Knowledges, new { @class = "data_templates" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">体质测试报告解读</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.TextAreaFor(m => m.CheckReport_Content_1, new { @class = "form-control data_member_advice_summary", @column = 40 })
                    </div>
                </div>
            </div>*@ 

            @*<div id="tab-7">
                <div class="form-group">
                    <label class="col-sm-2 control-label">知识类型</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownList("knowledgeType", typeList)
                    </div>
                    <label class="col-sm-1 control-label">关键字</label>
                    <div class="col-sm-3 col-md-3">
                        @Html.TextBox("knowledgeKeyword", "")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">选择模板</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.DropDownList("data_templates_2", (IEnumerable<SelectListItem>)ViewBag.Knowledges, new { @class = "data_templates" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">体成分报告解读</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.TextAreaFor(m => m.CheckReport_Content_2, new { @class = "form-control data_member_advice_summary", @column = 40 })
                    </div>
                </div>
            </div>*@ 

            @*<div id="tab-8">
                <div class="form-group">
                    <label class="col-sm-2 control-label">知识类型</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownList("knowledgeType", typeList)
                    </div>
                    <label class="col-sm-1 control-label">关键字</label>
                    <div class="col-sm-3 col-md-3">
                        @Html.TextBox("knowledgeKeyword", "")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">选择模板</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.DropDownList("data_templates_3", (IEnumerable<SelectListItem>)ViewBag.Knowledges, new { @class = "data_templates" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">体测项目解读</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.TextAreaFor(m => m.CheckReport_Content_3, new { @class = "form-control data_member_advice_summary", @column = 40 })
                    </div>
                </div>
            </div>*@ 


        @*<div id="tab-9">
            <form class="form-horizontal" style="padding-top: 20px;">
                <div class="form-group">
                    <label class="col-sm-2 control-label">知识类型</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownList("knowledgeType", typeList)
                    </div>
                    <label class="col-sm-1 control-label">关键字</label>
                    <div class="col-sm-3 col-md-3">
                        @Html.TextBox("knowledgeKeyword", "")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">选择模板</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.DropDownList("data_templates_4", (IEnumerable<SelectListItem>)ViewBag.Knowledges, new { @class = "data_templates" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">推荐食谱</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.TextAreaFor(m => m.DietAdvice_Content_1, new { @class = "form-control data_member_advice_summary", @column = 40 })
                    </div>
                </div>

            </form>
        </div>*@ 
            @*<div id="tab-10">
                <form class="form-horizontal" style="padding-top: 20px;">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">知识类型</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.DropDownList("knowledgeType", typeList)
                        </div>
                        <label class="col-sm-1 control-label">关键字</label>
                        <div class="col-sm-3 col-md-3">
                            @Html.TextBox("knowledgeKeyword", "")
                        </div>
                    </div>
 

                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择模板</label>
                        <div class="col-sm-10 col-md-8">
                            @Html.DropDownList("data_templates_5", (IEnumerable<SelectListItem>)ViewBag.Knowledges, new { @class = "data_templates" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">饮食建议</label>
                        <div class="col-sm-10 col-md-8">
                            @Html.TextAreaFor(m => m.DietAdvice_Content_2, new { @class = "form-control data_member_advice_summary", @column = 40 })
                        </div>
                    </div>
                </form>
            </div>*@ 
        @*<div id="tab-11">
            <form class="form-horizontal" style="padding-top: 20px;">
                <div class="form-group">
                    <label class="col-sm-2 control-label">知识类型</label>
                    <div class="col-sm-2 col-md-2">
                        @Html.DropDownList("knowledgeType", typeList)
                    </div>
                    <label class="col-sm-1 control-label">关键字</label>
                    <div class="col-sm-3 col-md-3">
                        @Html.TextBox("knowledgeKeyword", "")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">选择模板</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.DropDownList("data_templates_6", (IEnumerable<SelectListItem>)ViewBag.Knowledges, new { @class = "data_templates" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">运动处方 1</label>
                    <div class="col-sm-10 col-md-8">
                        @Html.TextAreaFor(m => m.Prescription_Content_1, new { @class = "form-control data_member_advice_summary", @column = 40 })
                    </div>
                </div>
            </form>
        </div>*@
            @*<div id="tab-12">
                <form class="form-horizontal" style="padding-top: 20px;">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">知识类型</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.DropDownList("knowledgeType", typeList)
                        </div>
                        <label class="col-sm-1 control-label">关键字</label>
                        <div class="col-sm-3 col-md-3">
                            @Html.TextBox("knowledgeKeyword", "")
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择模板</label>
                        <div class="col-sm-10 col-md-8">
                            @Html.DropDownList("data_templates_7", (IEnumerable<SelectListItem>)ViewBag.Knowledges, new { @class = "data_templates" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">运动处方 2</label>
                        <div class="col-sm-10 col-md-8">
                            @Html.TextAreaFor(m => m.Prescription_Content_2, new { @class = "form-control data_member_advice_summary", @column = 40 })
                        </div>
                    </div>
                </form>
            </div>*@
            <div id="tab-6" style="overflow-y: scroll">
                <form class="form-horizontal" style="padding-top: 20px;">
                    <div>运动处方</div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">姓名：</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.TextBoxFor(m => m.Name)
                        </div>
                        <label class="col-sm-1 control-label">性别：</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.TextBoxFor(m => m.Sex)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">年龄：</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.TextBoxFor(m => m.Age)
                        </div>
                        <label class="col-sm-1 control-label">身高：</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.TextBoxFor(m => m.Height)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">体重：</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.TextBoxFor(m => m.Weight)
                        </div>
                        <label class="col-sm-1 control-label">职业：</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.TextBoxFor(m => m.Job)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">有无重大病史</label>
                        <div class="col-sm-2 col-md-2">
                            @Html.TextBoxFor(m => m.Ill_History)
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        <label class="col-sm-1 control-label">项目</label>
                        <div class="col-sm-1 col-md-1">
                            BMI
                        </div>

                        <label class="col-sm-1 control-label">成绩</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.BMI)
                        </div>
                        <label class="col-sm-1 control-label">最大值</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.BMI_Max)
                        </div>
                        <label class="col-sm-1 control-label">最小值</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.BMI_Min)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">项目</label>
                        <div class="col-sm-1 col-md-1">
                            体重
                        </div>

                        <label class="col-sm-1 control-label">成绩</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.Weight)
                        </div>
                        <label class="col-sm-1 control-label">最大值</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.Weight_Max)
                        </div>
                        <label class="col-sm-1 control-label">最小值</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.Weight_Min)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">项目</label>
                        <div class="col-sm-1 col-md-1">
                            肌肉含量
                        </div>

                        <label class="col-sm-1 control-label">成绩</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.Muscle)
                        </div>
                        <label class="col-sm-1 control-label">最大值</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.Muscle_Max)
                        </div>
                        <label class="col-sm-1 control-label">最小值</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.Muscle_Min)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">项目</label>
                        <div class="col-sm-1 col-md-1">
                            体脂含量
                        </div>

                        <label class="col-sm-1 control-label">成绩</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.BodyFat)
                        </div>
                        <label class="col-sm-1 control-label">最大值</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.BodyFat_Max)
                        </div>
                        <label class="col-sm-1 control-label">最小值</label>
                        <div class="col-sm-1 col-md-1">
                            @Html.TextBoxFor(m => m.BodyFat_Min)
                        </div>
                    </div>
                   

                </form>
            </div>

</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#CheckReportTabs").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        $("#Doc_Template").kendoComboBox();
        $("#isSmoking").kendoComboBox();
        $("#isDrinking").kendoComboBox();
        $("#isDryOut").kendoComboBox();
        $("#isRate").kendoComboBox();
        $("#Level_1").kendoComboBox();
        $("#Level_2").kendoComboBox();
        $("#Level_3").kendoComboBox();
        $("#Level_4").kendoComboBox();
        $("#Level_5").kendoComboBox();
        $("#Level_6").kendoComboBox();
        $("#Level_7").kendoComboBox();
        $("#Level_8").kendoComboBox();
        $("#Level_9").kendoComboBox();
        $("#Level_10").kendoComboBox();
        $("#Level_11").kendoComboBox();
        $("#Level_12").kendoComboBox();


        $(".data_templates").each(function () {
            var temp = $(this).kendoMultiSelect({ change: ontemplatechange }).data("kendoMultiSelect");
            temp.value("");
        });

        $(".data_member_advice_summary").kendoEditor(
            {
                resizable: {
                    content: true,
                    toolbar: true
                }
            }
         );

        function ontemplatechange(e) {
            var tid = $(e.sender.ul).attr("id").replace("_listbox", "");
            var edt = $("#" + tid).parentsUntil("div.form-group").parent().next("div.form-group").find(".data_member_advice_summary");

            var Ids = e.sender.value();
            $.ajax({
                url: "/Member/GetKnowledgeComments?Ids=" + Ids,
                success: function (data) {
                    var editor = edt.data("kendoEditor");
                    editor.value(data);
                }
            });
        }

        //$("#knowledgeType").kendoComboBox();
        $(".filter_btn").click(filterKnowledge);
        function filterKnowledge(e) {
            var p_tab = $(e.currentTarget).parentsUntil("form").parent();

            var type = p_tab.find("#knowledgeType").val();
            var keyword = p_tab.find("#knowledgeKeyword").val();
            var id = p_tab.find(".apply_to").val();

            $.ajax({
                url: "/DataKnowledge/GetKnowledgeListByCondi?data_knowledge_type=" + type + "&data_knowledge_keyword=" + keyword,
                success: function (data) {
                    var dataSource = new kendo.data.DataSource({
                        data: data
                    });

                    var d_Templates = $("#" + id).data("kendoMultiSelect");
                    d_Templates.setDataSource(dataSource);
                    d_Templates.value("");
                }
            });
        }
    });
</script>


