@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>年龄维护</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li class="active">
                <strong>年龄维护</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> New</a>
            <a href="javascript:dataage.edit()" class=" btn btn-primary"><i class="fa fa-reply"></i>编辑</a>
            <a href="javascript:dataage.deleteRow()" class=" btn btn-primary"><i class="fa fa-reply"></i>删除</a>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="ibox-content m-b-sm border-bottom">
            <div class="btn-group">
                <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> New</a>
            </div>
        </div>*@
    @*<div class="row">
        <div class="col-lg-12">
            <div id="gridage"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        dataage.init();
    });
</script>*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>基本指标</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>

            <li class="active">
                <strong>基本指标</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i>新建</a>
            <a href="javascript:databaseindex.edit()" class=" btn btn-primary"><i class="fa fa-reply"></i>编辑</a>
            <a href="javascript:databaseindex.deleteRow()" class=" btn btn-primary"><i class="fa fa-reply"></i>删除</a>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="ibox-content m-b-sm border-bottom">
            <div class="btn-group">
                <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i> New</a>
            </div>
        </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div id="gridindex"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        databaseindex.init();
    });
</script>
