﻿@model AgeDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>年龄维护</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>年龄</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        @*  *@
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>年龄</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_age_range_id)

                        <div class="form-group">
                            <label class="col-sm-2 control-label">年龄最小值</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_age_min, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_age_min, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">年龄最大值</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_age_max, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_age_max, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">年龄简称</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.TextBoxFor(m => m.data_age_title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_age_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                     
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   $(document).ready(function () {
        dataage.initForm();
    });
</script>