﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>消息推送</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <h2>相关操作</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("New")" class="ajax btn btn-primary"><i class="fa fa-plus"></i>新增</a>
            </li>
            <li>
                <a href="#" class="ajax btn btn-primary" onclick="data_member_message.edit(this)"><i class="fa fa-plus"></i>编辑</a>
            </li>
            <li>
                <a href="#" class="ajax btn btn-primary" onclick="data_member_message.deleteIt()"><i class="fa fa-trash"></i>删除</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div id="grid_member_message"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        data_member_message.init();
    });
</script>
