﻿@model MemberMessageDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>编辑消息推送</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/membermessage" class="ajax">消息推送</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "mainContent"}, new {@class = "form-horizontal"}))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.data_member_message_id)
                        
                        @Html.HiddenFor(m => m.data_member_ids)
                        
                        @Html.HiddenFor(m => m.data_member_names)
                        
                        if (ViewBag.TaskId != null)
                        { 
                            @Html.Hidden("taskId", (int)ViewBag.TaskId)
                        }
                        if (ViewBag.BackKind != null)
                        { 
                            @Html.Hidden("backKind", (int)ViewBag.BackKind)
                        }
                        
                        var TypeList = ((IEnumerable<SelectListItem>)ViewBag.KnowledgeTypes).ToList();
                        TypeList.Insert(0, new SelectListItem { Text = "", Value = "" });
                            
                        <div class="form-group">
                            <label class="col-sm-2 control-label">消息标题</label>
                            <div class="col-sm-10 col-md-8">
                                @Html.TextBoxFor(m => m.data_member_message_title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.data_member_message_title, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                          <div class="form-group">
                            <label class="col-sm-2 control-label">消息类别</label>
                            <div class="col-sm-10 col-md-8">
                                @Html.DropDownListFor(m => m.data_member_message_type, (IEnumerable<SelectListItem>)ViewBag.MessageTypeListype)
                                @Html.ValidationMessageFor(m => m.data_member_message_type, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择接收人</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownList("member_templates", (IEnumerable<SelectListItem>)ViewBag.MemberList)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">知识类型</label>
                            <div class="col-sm-2 col-md-2">
                                @Html.DropDownList("knowledgeType", TypeList)
                            </div>
                            <label class="col-sm-1 control-label">关键字</label>
                            <div class="col-sm-2 col-md-2">
                                @Html.TextBox("knowledgeKeyword", "") <a href="javascript:void(0)" style="margin-left: 10px" id="filter_btn">过滤</a>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择模板</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownList("data_templates", (IEnumerable<SelectListItem>)ViewBag.Knowledges)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">消息内容</label>
                            <div class="col-sm-10 col-md-8">
                                @Html.TextAreaFor(m => m.data_member_message_text, new { @class = "form-control", @column = 40 })
                                @Html.ValidationMessageFor(m => m.data_member_message_text, null, new { @class = "help-block m-b-none text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownListFor(m => m.record_status, (IEnumerable<SelectListItem>)ViewBag.Status)
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        if (ViewBag.TaskId != null)
                        {                    
                        <div class="form-group">
                            <label class="col-sm-2 control-label">任务完成状态</label>
                            <div class="col-sm-10 col-md-8">
                                @Html.DropDownList("IsFinished", (IEnumerable<SelectListItem>)ViewBag.TaskStatus)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">回复</label>
                            <div class="col-sm-10 col-md-8">
                                @Html.TextArea("TaskComments", new { @class = "form-control", @cols = 20,@rows=5 })
                                <span class="help-block m-b-none">填写任务的完成情况，将会同步到我的任务中</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        }
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        data_member_message.initForm();
        

        $("#data_member_message_type").kendoComboBox();

        var id = $("#data_member_message_id").val();
        var taskId = $("#taskId").val();

        var dataTemplates = $("#data_templates").kendoMultiSelect({ change: ontemplatechange }).data("kendoMultiSelect");
        dataTemplates.value("");

        var member_templates = $("#member_templates").kendoMultiSelect({ change: onMemberChange }).data("kendoMultiSelect");
        
        if (id == "0" && !taskId) {
            member_templates.value("");
        } else {
            member_templates.value($("#data_member_ids").val().split(","));
            onMemberChange();
        }

        $("#data_member_message_text").kendoEditor(
            {
                resizable: {
                    content: true,
                    toolbar: true
                }
            });

        function ontemplatechange() {
            var Ids = dataTemplates.value();
            $.ajax({
                url: "/Member/GetKnowledgeComments?Ids=" + Ids,
                success: function (data) {
                    var editor = $("#data_member_message_text").data("kendoEditor");
                    editor.value(data);
                }
            });
        }

        function onMemberChange() {
            var Ids = member_templates.value();
            $("#data_member_ids").val(Ids.join(","));

            var names = "";
            $(member_templates.tagList[0]).find("li").each(function () {
                names += $(this).find("span:eq(0)").text() + ",";
            });


            $("#data_member_names").val(names);
        }

        $("#knowledgeType").kendoComboBox();
        


        $("#filter_btn").click(filterKnowledge);
        function filterKnowledge() {
            var type = $("#knowledgeType").val();
            var keyword = $("#knowledgeKeyword").val();

            $.ajax({
                url: "/DataKnowledge/GetKnowledgeListByCondi?data_knowledge_type=" + type + "&data_knowledge_keyword=" + keyword,
                success: function (data) {
                    //console.log(data);
                    var dataSource = new kendo.data.DataSource({
                        data: data
                    });
                    dataTemplates.setDataSource(dataSource);
                    dataTemplates.value("");
                }
            });
        }
    });
</script>

