﻿@{
    ViewBag.Title = "Login";
}

@section page{
    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">欢迎来到全时体育产业管理咨询</h2>

                <p>
                    青岛全时体育产业管理咨询有限公司成立于2014年11月，是FITIA中国健身产业技术创新战略联盟成员单位。
                </p>

                <p>
                    作为一家物联网健康科技新技术公司，“全时”通过O2O模式，致力于为团体客户及个体客户提供一站式、体系化健康解决方案。
                </p>

                @*<p>
                    为客户和用户提供个性化、高品质的服务及配套产品是我们的优势，帮助每一个家庭和投资人实现健康、可持续的目标也是我们赢得客户赞誉和赢得市场尊重的核心价值观所在。
                </p>*@

                <p>
                    <small>“全心态度，全时健康”——青岛全时愿与客户健康相伴、智慧同行！ </small>
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        @Html.ValidationSummary(null, new { @class = "alert alert-danger" })
                    }

                    @using (Html.BeginForm(null, null, new { returnUrl = ViewBag.ReturnUrl }, 
                        FormMethod.Post, new { @class = "m-t", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <input type="email" name="Username" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="Password" class="form-control" placeholder="Password" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">登陆</button>

                        @*<a href="#">
                            <small>Forgot password?</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>*@
                    }
                    <p class="m-t">
                        <small>全时健康管理 &copy; 2014</small>
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Copyright Anytime Company
            </div>
            <div class="col-md-6 text-right">
                <small>© 2014-2015</small>
            </div>
        </div>
    </div>
}
