﻿@model RoleViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>角色用户管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>增加用户</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>增加用户</h5>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {

                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.UserIds)


                        <div class="form-group">
                            <label class="col-sm-2 control-label">当前角色用户</label>
                            <div class="col-sm-10 col-md-3">
                                @Html.DropDownList("users", (IEnumerable<SelectListItem>)ViewBag.Users)
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button> 
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {



        //

        $("a.ajax").ajaxLink();
        $.validator.unobtrusive.parse("form");

        //  datauser.initForm();
        var required = $("#users").kendoMultiSelect(
            {
                change: onChange
            }).data("kendoMultiSelect");

        //Set values.
        var users = $("#UserIds").val();


       // alert(users);

        if (users == undefined)
        { required.value(""); }
        else
        {
            required.value(users.split(","));
        }

        function onChange()
        {
            $("#UserIds").val(required.value());
        }

    });
</script>
