﻿@model RolePersmissionDTO

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>角色管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>分配权限</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑角色权限</h5>
                </div>
                <div class="ibox-content">
                    <!-- added by adam adjust the style of the tree view -->
                    <!-- begin style -->
                    <style>
                        ul.k-group.k-treeview-lines > li.k-item {
                            float: left;
                            width: 16%;
                            margin: 10px;
                            padding: 5px 0 0 20px;
                            height: 300px;
                            overflow: auto;
                            border: solid 1px gray;
                        }

                        div.demo-section.k-header {
                            background-color: transparent;
                        }
                    </style>
                    <!-- end style -->

                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
                    {
                       @Html.AntiForgeryToken()

                       @Html.HiddenFor(m => m.RoleId)
                       @Html.HiddenFor(m => m.PermissionIds)
                                       
                  
                        <div id="example" class="k-content">
                            <div class="demo-section k-header">
                                <div id="treeview"></div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.ActionLink("取消", "Index", null, new { @class = "ajax btn btn-white" })
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {


        $("a.ajax").ajaxLink();
        $.validator.unobtrusive.parse("form");

        var serviceRoot = "/role/GetRolePermission?roleId=" + '@Model.RoleId' + "&";
        homogeneous = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: serviceRoot,
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "Id",
                    hasChildren: "Children"
                }
            }
        });

        var treeview = $("#treeview").kendoTreeView({
            checkboxes: {
               // checkChildren: true
                //  checkParent:true
              },
            //checkboxes:true,
            check:onCheck,
            dataSource: homogeneous,
            dataTextField: "Text"
        });

        //function checkedNodeIds(nodes, checkedNodes) {
        //    for (var i = 0; i < nodes.length; i++) {
        //        if (nodes[i].checked) {
        //            checkedNodes.push(nodes[i].id);
        //        }

        //        if (nodes[i].hasChildren) {
        //            checkedNodeIds(nodes[i].children.view(), checkedNodes);
        //        }
        //    }
        //}

        //// show checked node IDs on datasource change
        //function onCheck(e) {




        //    var chbx = $(e.node).find('.k-checkbox input').filter(":first");
        //    var state = chbx.is(':checked');
        //    $(e.node).find(".k-group input").prop('checked', state);

        //    //check the dataSource elements
        //    $(e.node).find(".k-group li.k-item").each(function (i, v) {
        //        e.sender.dataSource.getByUid($(v).attr('data-uid')).checked = state;
        //    });

        //    var checkedNodes = [],
        //        message;

        //    checkedNodeIds(e.sender.dataSource.view(), checkedNodes);

        //    if (checkedNodes.length > 0) {
        //        message = "IDs of checked nodes: " + checkedNodes.join(",");
        //    } else {
        //        message = "No nodes checked.";
        //    }

        //    $("#PermissionIds").val(message);
        //}

        function onCheck(e)
        {

             //  alert(e.node.id);

          //  alert(e);
           // alert(tree.dataItem(e.node).id);
            //  alert(tree.dataItem(tree.parent(e.node)).id);
          

            var checkedNodes = [],
               treeView = $("#treeview").data("kendoTreeView"),
               message;



            //console.log("node", tree.dataItem(e.node));
            //console.log("parent", tree.dataItem(tree.parent(e.node)));

          //  alert(treeView.dataItem(treeView.parent(e.node)).Text);
         //   alert(treeView.dataItem(treeView.parent(e.node)).Id);
        //    alert(treeView.dataItem(treeView.parent(e.node)).checked);

            treeView.dataItem(treeView.parent(e.node)).checked = true;

           // var parent = treeview.parent(treeview.findById(e.node.Id));
            //  alert(treeview.text(parent));

           // tree.parent(e.node).ischecked=true;

            //朝上checked.把所有的parent
            checkedParents(e.node);

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);


            $("#PermissionIds").val(checkedNodes);

        }


        function checkedParents(node) {
          
            var treeView = $("#treeview").data("kendoTreeView");


            if (typeof (treeView.dataItem(treeView.parent(node))) != "undefined")
                {
                treeView.dataItem(treeView.parent(node)).checked=true;
                var chbx = $(treeView.parent(node)).find('.k-checkbox input').filter(":first");
                chbx.prop('checked', true);
                checkedParents(treeView.parent(node));
            }
        }


        function checkedNodeIds(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i].id);
                }

                if (nodes[i].hasChildren) {
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
                }
            }
        }

    });


   


</script>