﻿@model ReportMembertaskModel
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>健康秘书任务统计报表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                Other Pages
            </li>
            <li class="active">
                <strong>Invoice</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <form action="/print/print" method="POST" id="report" target="_blank">
                @Html.Hidden("begindate")
                @Html.Hidden("enddate")
                @Html.Hidden("BodyHtml")
                @Html.Hidden("CommentsHtml")
                <a href="javascript:PostReportData();" class="btn btn-primary"><i class="fa fa-print"></i> 打印 </a>
            </form>
        </div>
    </div>
</div>
@using (Ajax.BeginForm(null, null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainContent" }, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">

                        <div class="col-sm-6">
                            <h5>开始时间:</h5>
                            @Html.TextBoxFor(m => m.begin, new { @class = "" })
                            <h5>结束时间:</h5>
                            @Html.TextBoxFor(m => m.end, new { @class = "" })
                        </div>
                        <div class="col-sm-6">
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> 查询</button>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive m-t" id="reportBodydiv">
                        <table class="table invoice-table">
                            <thead>
                                <tr>
                                    <th>健康秘书</th>
                                    <th>会员个数</th>
                                    <th>所有任务</th>
                                    <th>完成任务</th>

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.Results)
                                {
                                    <tr>
                                        <td>@item.健康秘书</td>
                                        <td>@item.会员数</td>
                                        <td>@item.全部工作</td>
                                        <td>@item.完成工作</td>
                                    </tr>
                                }


                            </tbody>
                        </table>

                        <table class="table invoice-total" id="reporttotal">
                            <tbody>
                                <tr>
                                    <td><strong>总会员数 :</strong></td>
                                    <td>@Model.TotalMemberCount</td>
                                </tr>
                                <tr>
                                    <td><strong>总任务数 :</strong></td>
                                    <td>@Model.TotalTaskCount</td>
                                </tr>
                                <tr>
                                    <td><strong>总完成任务数:</strong></td>
                                    <td>@Model.TotalFinishedTaskCount</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /table-responsive -->
                    <div class="well m-t" id="reportcommentsdiv">
                        <strong>说明</strong>
                        <p class="text-primary"><span class="badge badge-primary">1</span>此报表只会返回在查询范围内有效的数据.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function PostReportData() {

            var title = "报表名称";
            var begindate = $("#begin").val(); //开始时间
            $("#begindate").val(begindate);
            var enddate = $("#end").val();       //结束时间
            $("#enddate").val(enddate);
            var reportbody = $("#reportBodydiv").html();

            $("#BodyHtml").val(reportbody);
            var reportcomments = $("#reportcommentsdiv").html();
            $("#CommentsHtml").val(reportcomments);
            $("#report").submit();

        }



        //   $(document).ready(function () {

        //   alert("Hello World");
        function startChange() {
            var startDate = start.value(),
                endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            var endDate = end.value(),
                startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        var start = $("#begin").kendoDatePicker({
            change: startChange
        }).kendoDatePicker();

        var end = $("#end").kendoDatePicker({
            change: endChange
        }).kendoDatePicker();

        start.max(end.value());
        end.min(start.value());
        //   });
    </script>

}
